## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  罗丰
+ 学号  0154644

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [4]:
import pandas as pd
from pandas import Series, DataFrame
data = {'price': [100, 200,20, 150, 300], 
        'amount': [1, 2, 1, 5, 1], 
        'time': [1113, 1112, 1113, 1114, 1115],
        'evaluation':[3,5,3,4,4]}
frame=pd.DataFrame(data,index = ['food','drink','pen','books','shoes'])
frame

       amount  evaluation  price  time
food        1           3    100  1113
drink       2           5    200  1112
pen         1           3     20  1113
books       5           4    150  1114
shoes       1           4    300  1115

#### 用index的label读取某一个物品数据

In [6]:
frame.loc['books']

amount           5
evaluation       4
price          150
time          1114
Name: books, dtype: int64

#### 选择价格>200的物品

In [7]:
frame[frame['price']>200]

       amount  evaluation  price  time
shoes       1           4    300  1115

#### 挑选其中和学习有关的物品，构成一个子集

In [8]:
frame.loc[['books','pen']]

       amount  evaluation  price  time
books       5           4    150  1114
pen         1           3     20  1113

#### 读取评价那列的数据

In [9]:
frame['evaluation']

food     3
drink    5
pen      3
books    4
shoes    4
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [10]:
frame=frame.reindex(['drink','books','food','shoes','pen'])
frame

       amount  evaluation  price  time
drink       2           5    200  1112
books       5           4    150  1114
food        1           3    100  1113
shoes       1           4    300  1115
pen         1           3     20  1113

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [14]:
post_cost=pd.Series([12,10,10,10,15],['food','drink','pen','books','shoes'])
frame['price']=frame['price']+post_cost
frame

       amount  evaluation  price  time
drink       2           5    240  1112
books       5           4    190  1114
food        1           3    148  1113
shoes       1           4    360  1115
pen         1           3     60  1113

#### 按照价格从高到底排序

In [15]:
frame.sort_values(by='price',ascending=False)

       amount  evaluation  price  time
shoes       1           4    360  1115
drink       2           5    240  1112
books       5           4    190  1114
food        1           3    148  1113
pen         1           3     60  1113

#### 按照收到的时间从低到高排序

In [16]:
frame.sort_values(by='time')

       amount  evaluation  price  time
drink       2           5    240  1112
food        1           3    148  1113
pen         1           3     60  1113
books       5           4    190  1114
shoes       1           4    360  1115

#### 得到各样物品评价的排名

In [20]:
frame.sort_values(by='evaluation',ascending=False)

       amount  evaluation  price  time
drink       2           5    240  1112
books       5           4    190  1114
shoes       1           4    360  1115
food        1           3    148  1113
pen         1           3     60  1113

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [21]:
frame['price'].sum()

998

In [22]:
frame['price'].max()

360

In [23]:
frame['price'].min()

60

In [24]:
frame['price'].mean()

199.6