## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  
+ 学号

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

#### 用index的label读取某一个物品数据

#### 选择价格>200的物品

#### 挑选其中和学习有关的物品，构成一个子集

#### 读取评价那列的数据

#### 根据label对数据框重新排序，按照对你的迫切程度

#### 生成一个series，记录这些物品的快递费，然后加到价格上

#### 按照价格从高到底排序

#### 按照收到的时间从低到高排序

#### 得到各样物品评价的排名

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
shopping_things = { 'price': [368, 269, 189, 27.9, 36, 25], 
                   'number': [1, 2, 1, 5, 2, 1],
                   'reach_time':[1120,1117,1118,1115,1121,1116],
                   'evaluate':[4,5,3,5,4,5]}
frame = pd.DataFrame(shopping_things,index=['羽绒服', '毛呢大衣', '雪地靴', '火鸡面', '唇膏', '韩文字母键盘'])
frame

        price  number  reach_time  evaluate
羽绒服     368.0       1        1120         4
毛呢大衣    269.0       2        1117         5
雪地靴     189.0       1        1118         3
火鸡面      27.9       5        1115         5
唇膏       36.0       2        1121         4
韩文字母键盘   25.0       1        1116         5

In [4]:
frame.loc['火鸡面']

price           27.9
number           5.0
reach_time    1115.0
evaluate         5.0
Name: 火鸡面, dtype: float64

In [5]:
frame[frame.price>200]

      price  number  reach_time  evaluate
羽绒服   368.0       1        1120         4
毛呢大衣  269.0       2        1117         5

In [6]:
study = {'price': frame['price'][-1:],
         'number': frame['number'][-1:],
         'reach_time': frame['reach_time'][-1:],
         'evaluate': frame['evaluate'][-1:]}
pd.DataFrame(study)

        price  number  reach_time  evaluate
韩文字母键盘   25.0       1        1116         5

In [7]:
frame['evaluate']

羽绒服       4
毛呢大衣      5
雪地靴       3
火鸡面       5
唇膏        4
韩文字母键盘    5
Name: evaluate, dtype: int64

In [8]:
frame2 = frame.reindex([ '毛呢大衣','唇膏','韩文字母键盘','火鸡面','羽绒服', '雪地靴'])
frame2

        price  number  reach_time  evaluate
毛呢大衣    269.0       2        1117         5
唇膏       36.0       2        1121         4
韩文字母键盘   25.0       1        1116         5
火鸡面      27.9       5        1115         5
羽绒服     368.0       1        1120         4
雪地靴     189.0       1        1118         3

In [9]:
e_f = pd.Series([8,6,10,0,0,0],index=['羽绒服', '毛呢大衣', '雪地靴', '火鸡面', '唇膏', '韩文字母键盘'])
e_f

羽绒服        8
毛呢大衣       6
雪地靴       10
火鸡面        0
唇膏         0
韩文字母键盘     0
dtype: int64

In [10]:
frame.price + e_f

羽绒服       376.0
毛呢大衣      275.0
雪地靴       199.0
火鸡面        27.9
唇膏         36.0
韩文字母键盘     25.0
dtype: float64

In [11]:
frame.sort_values(by='price',ascending=False)

        price  number  reach_time  evaluate
羽绒服     368.0       1        1120         4
毛呢大衣    269.0       2        1117         5
雪地靴     189.0       1        1118         3
唇膏       36.0       2        1121         4
火鸡面      27.9       5        1115         5
韩文字母键盘   25.0       1        1116         5

In [12]:
frame.sort_values(by='reach_time')

        price  number  reach_time  evaluate
火鸡面      27.9       5        1115         5
韩文字母键盘   25.0       1        1116         5
毛呢大衣    269.0       2        1117         5
雪地靴     189.0       1        1118         3
羽绒服     368.0       1        1120         4
唇膏       36.0       2        1121         4

In [13]:
frame.rank()

        price  number  reach_time  evaluate
羽绒服       6.0     2.0         5.0       2.5
毛呢大衣      5.0     4.5         3.0       5.0
雪地靴       4.0     2.0         4.0       1.0
火鸡面       2.0     6.0         1.0       5.0
唇膏        3.0     4.5         6.0       2.5
韩文字母键盘    1.0     2.0         2.0       5.0

In [14]:
s = frame.sum()
p_sum = s.price
p_sum

914.9

In [15]:
p_max = frame.max()
p_max.price

368.0

In [16]:
p_min = frame.min()
p_min.price

25.0

In [17]:
average = p_sum / 6
average

152.48333333333332