## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 刘栋
+ 学号 0160617

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd
from pandas import DataFrame

data = {'price': [108, 99, 465, 80, 1920], 
        'amount': [3, 2, 2,4, 1], 
        'time': [11116, 1117, 1120, 1118, 1119],
        'evaluation': [4, 4,3,4, 4]}

frame = pd.DataFrame(data, columns=['price', 'amount', 'time', 'evaluation'],
                     index=['书籍', '文具', '服装','零食' , '照相机'])

frame

     price  amount   time  evaluation
书籍     108       3  11116           4
文具      99       2   1117           4
服装     465       2   1120           3
零食      80       4   1118           4
照相机   1920       1   1119           4

#### 用index的label读取某一个物品数据

In [3]:
frame.loc['服装']

price          465
amount           2
time          1120
evaluation       3
Name: 服装, dtype: int64

#### 选择价格>200的物品

In [4]:
good = pd.Series([108, 99, 465, 80, 1920],
                index=['书籍', '零食', '服装', '文具', '照相机'])
good[good > 200]

服装      465
照相机    1920
dtype: int64

#### 挑选其中和学习有关的物品，构成一个子集

In [31]:
learning = {'price': frame['price'][0:2],
         'amount': frame['amount'][0:2],
         'time': frame['time'][0:2],
         'evaluation': frame['evaluation'][0:2]}
pd.DataFrame(learning)

    amount  evaluation  price   time
书籍       3           4    108  11116
文具       2           4     99   1117

#### 读取评价那列的数据

In [30]:
frame['evaluation']

书籍     4
文具     4
服装     3
零食     4
照相机    4
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [35]:
Newframe =frame.reindex (['文具', '照相机', '零食', '书籍', '服装'])
Newframe

     price  amount   time  evaluation
文具      99       2   1117           4
照相机   1920       1   1119           4
零食      80       4   1118           4
书籍     108       3  11116           4
服装     465       2   1120           3

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [40]:
series = pd.Series([5.6, 2.4, 4.5, 1.6, 9.2], index=['书籍', '文具', '服装','零食' , '照相机'])

frame['price']= frame['price']+series
frame

      price  amount   time  evaluation
书籍    180.8       3  11116           4
文具    321.9       2   1117           4
服装   1171.5       2   1120           3
零食    234.0       4   1118           4
照相机  2009.9       1   1119           4

#### 按照价格从高到低排序

In [41]:
frame.sort_values(by='price', ascending=False)

      price  amount   time  evaluation
照相机  2009.9       1   1119           4
服装   1171.5       2   1120           3
文具    321.9       2   1117           4
零食    234.0       4   1118           4
书籍    180.8       3  11116           4

#### 按照收到的时间从低到高排序

In [44]:
frame.sort_values(by='time', ascending=True)

      price  amount   time  evaluation
文具    321.9       2   1117           4
零食    234.0       4   1118           4
照相机  2009.9       1   1119           4
服装   1171.5       2   1120           3
书籍    180.8       3  11116           4

#### 得到各样物品评价的排名

In [48]:
data = {'evaluation': [4, 4, 4, 3, 4]}

frame2 = pd.DataFrame(data, index=['书籍', '文具', '服装','零食' , '照相机'])

frame2.rank(method='first')

     evaluation
书籍          2.0
文具          3.0
服装          4.0
零食          1.0
照相机         5.0

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [49]:
data = {'price': [108, 99, 465, 80, 1920]}

frame3= pd.DataFrame(data, index=['书籍', '文具', '服装','零食' , '照相机'])

frame3.sum()

price    2672
dtype: int64

In [57]:
frame3.min()

price    80
dtype: int64

In [58]:
frame3.max()

price    1920
dtype: int64

In [59]:
frame3.mean()

price    534.4
dtype: float64