## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  黄鹏辉
+ 学号  0161918

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame
data ={'价格':[201,300,20,50,60],
       '数量':[1,1,1,3,2],
       '时间':[1113,1114,1115,1116,1117],
       '评价':[1,5,1,5,5] 
       }
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['手办','卫衣','学习用品','洗衣液','零食'])
frame

       价格  数量    时间  评价
手办    201   1  1113   1
卫衣    300   1  1114   5
学习用品   20   1  1115   1
洗衣液    50   3  1116   5
零食     60   2  1117   5

#### 用index的label读取某一个物品数据

In [2]:
frame.loc['洗衣液']

价格      50
数量       3
时间    1116
评价       5
Name: 洗衣液, dtype: int64

#### 选择价格>200的物品

In [3]:
frame[frame['价格']>200]

     价格  数量    时间  评价
手办  201   1  1113   1
卫衣  300   1  1114   5

#### 挑选其中和学习有关的物品，构成一个子集

In [4]:
study= {'数量':frame['数量'][2:3],
        '评价':frame['评价'][2:3],
        '价格':frame['价格'][2:3],
        '时间':frame['时间'][2:3],
       }
DataFrame(study)

      数量  评价  价格    时间
学习用品   1   1  20  1115

#### 读取评价那列的数据

In [5]:
frame['评价']

手办      1
卫衣      5
学习用品    1
洗衣液     5
零食      5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [6]:
pd.DataFrame(frame,index=['手办','零食','卫衣','学习用品','洗衣液'])

       价格  数量    时间  评价
手办    201   1  1113   1
零食     60   2  1117   5
卫衣    300   1  1114   5
学习用品   20   1  1115   1
洗衣液    50   3  1116   5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [7]:
obj = pd.Series([15,10,10,0,0], index=['手办', '卫衣', '学习用品', '洗衣液','零食'])
frame['价格']+obj

手办      216
卫衣      310
学习用品     30
洗衣液      50
零食       60
dtype: int64

#### 按照价格从高到底排序

In [8]:
frame.sort_values(by='价格',ascending=False)

       价格  数量    时间  评价
卫衣    300   1  1114   5
手办    201   1  1113   1
零食     60   2  1117   5
洗衣液    50   3  1116   5
学习用品   20   1  1115   1

#### 按照收到的时间从低到高排序

In [9]:
frame.sort_values(by='时间')

       价格  数量    时间  评价
手办    201   1  1113   1
卫衣    300   1  1114   5
学习用品   20   1  1115   1
洗衣液    50   3  1116   5
零食     60   2  1117   5

#### 得到各样物品评价的排名

In [10]:
frame['评价'].rank(method='first')

手办      1.0
卫衣      3.0
学习用品    2.0
洗衣液     4.0
零食      5.0
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [11]:
frame['物品总花费']=frame['价格']*frame['数量']
frame

       价格  数量    时间  评价  物品总花费
手办    201   1  1113   1    201
卫衣    300   1  1114   5    300
学习用品   20   1  1115   1     20
洗衣液    50   3  1116   5    150
零食     60   2  1117   5    120

In [12]:
df=pd.DataFrame(frame)
df['物品总花费'].sum()

791

In [13]:
df['物品总花费'].max()

300

In [14]:
df['价格'].min()

20

In [15]:
average=frame['物品总花费'].sum()/frame['数量'].sum()
average

98.875