## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  廖之奇
+ 学号  0162452

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [21]:
import pandas as pd
from pandas import DataFrame,Series
data ={'价格':[226,400,80,98,60],
       '数量':[1,1,8,1,1],
       '时间':['11/13','11/12','11/16','11/11','11/15'],
       '评价':[3,5,4,3,5] 
       }
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['外套','鞋','曲奇饼','书','围巾'])
frame

      价格  数量     时间  评价
外套   226   1  11/13   3
鞋    400   1  11/12   5
曲奇饼   80   8  11/16   4
书     98   1  11/11   3
围巾    60   1  11/15   5

#### 用index的label读取某一个物品数据

In [5]:
frame.loc['曲奇饼']

价格       80
数量        8
时间    11/16
评价        4
Name: 曲奇饼, dtype: object

#### 选择价格>200的物品

In [8]:
frame[frame['价格']>200]

     价格  数量     时间  评价
外套  226   1  11/13   3
鞋   400   1  11/12   5

#### 挑选其中和学习有关的物品，构成一个子集

In [15]:
study= {'价格':frame['价格'][3:4],
        '数量':frame['数量'][3:4],
        '时间':frame['时间'][3:4],
        '评价':frame['评价'][3:4],
       }
DataFrame(study)

   价格  数量     时间  评价
书  98   1  11/11   3

#### 读取评价那列的数据

In [16]:
frame['评价']

外套     3
鞋      5
曲奇饼    4
书      3
围巾     5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [19]:
frame1 = frame.reindex(['书', '鞋', '外套', '围巾','曲奇饼'])
frame1

      价格  数量     时间  评价
书     98   1  11/11   3
鞋    400   1  11/12   5
外套   226   1  11/13   3
围巾    60   1  11/15   5
曲奇饼   80   8  11/16   4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [25]:
s = pd.Series([0, 0, 0, 10,10], index=['外套', '鞋', '曲奇饼', '书','围巾'])
s

外套      0
鞋       0
曲奇饼     0
书      10
围巾     10
dtype: int64

In [27]:
frame['价格']=frame['价格']+s.values
frame

      价格  数量     时间  评价
外套   226   1  11/13   3
鞋    400   1  11/12   5
曲奇饼   80   8  11/16   4
书    108   1  11/11   3
围巾    70   1  11/15   5

#### 按照价格从高到底排序

In [28]:
frame.sort_values(by='价格',ascending=False)

      价格  数量     时间  评价
鞋    400   1  11/12   5
外套   226   1  11/13   3
书    108   1  11/11   3
曲奇饼   80   8  11/16   4
围巾    70   1  11/15   5

#### 按照收到的时间从低到高排序

In [31]:
frame.sort_values(by='时间',ascending=1)

      价格  数量     时间  评价
书    108   1  11/11   3
鞋    400   1  11/12   5
外套   226   1  11/13   3
围巾    70   1  11/15   5
曲奇饼   80   8  11/16   4

#### 得到各样物品评价的排名

In [36]:
frame['评价'].rank()

外套     1.5
鞋      4.5
曲奇饼    3.0
书      1.5
围巾     4.5
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [39]:
frame['价格'].sum()

884

In [40]:
frame['价格'].max()

400

In [41]:
frame['价格'].min()

70

In [42]:
frame['价格'].mean()

176.8