## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  王珂  
+ 学号  0163446

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [15]:
import pandas as pd

In [16]:
from pandas import Series, DataFrame

In [17]:
shopping= {
    'price': [699,45,255, 200, 150], 
    'amount': [1,2,1,3,2], 
    'receving_time': [1120,1115,1115,1116,1122],
    'assessment':[5,4,5,3,4]
       }

frame = pd.DataFrame(shopping,index=['shoes','books','lip_sticks','contact_lens','sweater'])

frame

              amount  assessment  price  receving_time
shoes              1           5    699           1120
books              2           4     45           1115
lip_sticks         1           5    255           1115
contact_lens       3           3    200           1116
sweater            2           4    150           1122

#### 用index的label读取某一个物品数据

In [18]:
frame.loc['lip_sticks']

amount              1
assessment          5
price             255
receving_time    1115
Name: lip_sticks, dtype: int64

#### 选择价格>200的物品

In [19]:
frame[frame['price']>200]

            amount  assessment  price  receving_time
shoes            1           5    699           1120
lip_sticks       1           5    255           1115

#### 挑选其中和学习有关的物品，构成一个子集

In [21]:
frame.loc[['books'],['amount','price','receiving_time','assessment']]

       amount  price  receiving_time  assessment
books     2.0   45.0             NaN         4.0

#### 读取评价那列的数据

In [22]:
frame['assessment']

shoes           5
books           4
lip_sticks      5
contact_lens    3
sweater         4
Name: assessment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [24]:
frame1=frame.reindex(['books','shoes','contact_lens','lip_sticks','sweater'])
frame1

              amount  assessment  price  receving_time
books              2           4     45           1115
shoes              1           5    699           1120
contact_lens       3           3    200           1116
lip_sticks         1           5    255           1115
sweater            2           4    150           1122

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [26]:
freight_fees=pd.Series([0,0,10,15,20],index=['books','sweater','contact_lens','lip_sticks','shoes'])
frame['price']=frame['price']+freight_fees
frame

              amount  assessment  price  receving_time
shoes              1           5    719           1120
books              2           4     45           1115
lip_sticks         1           5    285           1115
contact_lens       3           3    220           1116
sweater            2           4    150           1122

#### 按照价格从高到底排序

In [27]:
frame.sort_values(by='price',ascending=False)

              amount  assessment  price  receving_time
shoes              1           5    719           1120
lip_sticks         1           5    285           1115
contact_lens       3           3    220           1116
sweater            2           4    150           1122
books              2           4     45           1115

#### 按照收到的时间从低到高排序

In [30]:
frame.sort_values(by='receving_time')

              amount  assessment  price  receving_time
books              2           4     45           1115
lip_sticks         1           5    285           1115
contact_lens       3           3    220           1116
shoes              1           5    719           1120
sweater            2           4    150           1122

#### 得到各样物品评价的排名

In [33]:
new_frame=frame['assessment']
new_frame.rank(method='min')

shoes           4.0
books           2.0
lip_sticks      4.0
contact_lens    1.0
sweater         2.0
Name: assessment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [34]:
frame['total_fees']=frame['price']*frame['amount']
frame

              amount  assessment  price  receving_time  total_fees
shoes              1           5    719           1120         719
books              2           4     45           1115          90
lip_sticks         1           5    285           1115         285
contact_lens       3           3    220           1116         660
sweater            2           4    150           1122         300

In [35]:
frame['total_fees'].sum()

2054

In [36]:
frame['total_fees'].max()

719

In [37]:
frame['total_fees'].min()

90

In [38]:
average=frame['total_fees'].sum()/frame['amount'].sum()
average

228.22222222222223