## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  宁越
+ 学号  0164964

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [65]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [66]:
goods = {'价格': [20, 130, 6, 300, 75],
             '购买的数量': [6, 1, 4, 1, 1], 
             '收到的时间': [ 1120, 1116, 1113, 1127, 1122],
             '评价': [4, 5,3,  5, 5]}
frame = pd.DataFrame(goods, 
                     index=['Maki同款橘子果冻', '大叔的爱-公式本', 'Maki同款猫便签', '中川政七的小玩意', '+act抱奶猫的小林子'])
frame

              价格  购买的数量  收到的时间  评价
Maki同款橘子果冻    20      6   1120   4
大叔的爱-公式本     130      1   1116   5
Maki同款猫便签      6      4   1113   3
中川政七的小玩意     300      1   1127   5
+act抱奶猫的小林子   75      1   1122   5

#### 用index的label读取某一个物品数据

In [67]:
frame.loc['大叔的爱-公式本']

价格        130
购买的数量       1
收到的时间    1116
评价          5
Name: 大叔的爱-公式本, dtype: int64

#### 选择价格>200的物品

In [68]:
frame[frame['价格'] > 200]

           价格  购买的数量  收到的时间  评价
中川政七的小玩意  300      1   1127   5

#### 挑选其中和学习有关的物品，构成一个子集

In [69]:
study = {'价格': frame['价格'][2:4],
            '购买的数量': frame['购买的数量'][2:4]}
pd.DataFrame(study)

            价格  购买的数量
Maki同款猫便签    6      4
中川政七的小玩意   300      1

#### 读取评价那列的数据

In [70]:
frame['评价']

Maki同款橘子果冻     4
大叔的爱-公式本       5
Maki同款猫便签      3
中川政七的小玩意       5
+act抱奶猫的小林子    5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [71]:
frame1 = frame.reindex(['+act抱奶猫的小林子', '大叔的爱-公式本', '中川政七的小玩意','Maki同款猫便签','Maki同款橘子果冻'])
frame1

              价格  购买的数量  收到的时间  评价
+act抱奶猫的小林子   75      1   1122   5
大叔的爱-公式本     130      1   1116   5
中川政七的小玩意     300      1   1127   5
Maki同款猫便签      6      4   1113   3
Maki同款橘子果冻    20      6   1120   4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [72]:
freight = pd.Series([0, 50, 10, 60, 30], index=['Maki同款橘子果冻', '大叔的爱-公式本', 'Maki同款猫便签', '中川政七的小玩意', '+act抱奶猫的小林子'])
frame['价格'] = frame['价格'] + freight
frame

              价格  购买的数量  收到的时间  评价
Maki同款橘子果冻    20      6   1120   4
大叔的爱-公式本     180      1   1116   5
Maki同款猫便签     16      4   1113   3
中川政七的小玩意     360      1   1127   5
+act抱奶猫的小林子  105      1   1122   5

#### 按照价格从高到底排序

In [73]:
frame.sort_values(by='价格',ascending=False)

              价格  购买的数量  收到的时间  评价
中川政七的小玩意     360      1   1127   5
大叔的爱-公式本     180      1   1116   5
+act抱奶猫的小林子  105      1   1122   5
Maki同款橘子果冻    20      6   1120   4
Maki同款猫便签     16      4   1113   3

#### 按照收到的时间从低到高排序

In [74]:
frame.sort_values(by='收到的时间')

              价格  购买的数量  收到的时间  评价
Maki同款猫便签     16      4   1113   3
大叔的爱-公式本     180      1   1116   5
Maki同款橘子果冻    20      6   1120   4
+act抱奶猫的小林子  105      1   1122   5
中川政七的小玩意     360      1   1127   5

#### 得到各样物品评价的排名

In [75]:
new=frame['评价']
new.rank(method='min')

Maki同款橘子果冻     2.0
大叔的爱-公式本       3.0
Maki同款猫便签      1.0
中川政七的小玩意       3.0
+act抱奶猫的小林子    3.0
Name: 评价, dtype: float64

注意：此时评价排分的排序是分数越低越排在前面，即：便签的打分时3分，它的排名却是最靠前的

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [76]:
frame['总价'] = frame['价格'] * frame['购买的数量']
frame

              价格  购买的数量  收到的时间  评价   总价
Maki同款橘子果冻    20      6   1120   4  120
大叔的爱-公式本     180      1   1116   5  180
Maki同款猫便签     16      4   1113   3   64
中川政七的小玩意     360      1   1127   5  360
+act抱奶猫的小林子  105      1   1122   5  105

In [77]:
frame['总价'].sum()

829

In [78]:
frame['总价'].max()

360

In [79]:
frame['总价'].min()

64

In [80]:
mean=frame['总价'].sum()/frame['购买的数量'].sum()
mean

63.76923076923077