In [20]:
import pandas as pd
from pandas import Series, DataFrame
data = {'price': [24.29, 45.87, 44.53, 450, 20], 
        'amount': [1, 2, 1, 1, 1], 
        'time': [1113,1114,1116,1112,1114],
       'evaluate':[4,5,4,3,4]}
shoppinglist = pd.DataFrame(data, columns=['price', 'amount', 'time', 'evaluate'],
                            index=['adalgebra', 'bodywash', 'randomizedpro', 'shoes', 'hat'])
shoppinglist

                price  amount  time  evaluate
adalgebra       24.29       1  1113         4
bodywash        45.87       2  1114         5
randomizedpro   44.53       1  1116         4
shoes          450.00       1  1112         3
hat             20.00       1  1114         4

In [25]:
shoppinglist.loc["bodywash"]

price         45.87
amount         2.00
time        1114.00
evaluate       5.00
Name: bodywash, dtype: float64

In [26]:
shoppinglist.loc[shoppinglist["price"]>200]

       price  amount  time  evaluate
shoes  450.0       1  1112         3

In [33]:
study=pd.DataFrame(shoppinglist.loc[["adalgebra","randomizedpro"]])
study

               price  amount  time  evaluate
adalgebra      24.29       1  1113         4
randomizedpro  44.53       1  1116         4

In [34]:
shoppinglist["evaluate"]

adalgebra        4
bodywash         5
randomizedpro    4
shoes            3
hat              4
Name: evaluate, dtype: int64

In [67]:
shoppinglist=shoppinglist.reindex(["bodywash","hat","randomizedpro","shoes","adalgebra"])
shoppinglist

                price  amount  time  evaluate
bodywash        45.87       2  1114         5
hat             20.00       1  1114         4
randomizedpro   44.53       1  1116         4
shoes          450.00       1  1112         3
adalgebra       35.29       1  1113         4

In [68]:
yunfei = pd.Series([10, 0, 0, 0,0], index=shoppinglist.index)
yunfei

bodywash         10
hat               0
randomizedpro     0
shoes             0
adalgebra         0
dtype: int64

In [69]:
shoppinglist["price"]=yunfei.values+shoppinglist["price"]
shoppinglist

                price  amount  time  evaluate
bodywash        55.87       2  1114         5
hat             20.00       1  1114         4
randomizedpro   44.53       1  1116         4
shoes          450.00       1  1112         3
adalgebra       35.29       1  1113         4

In [70]:
shoppinglist.sort_values(by='price',ascending=False)

                price  amount  time  evaluate
shoes          450.00       1  1112         3
bodywash        55.87       2  1114         5
randomizedpro   44.53       1  1116         4
adalgebra       35.29       1  1113         4
hat             20.00       1  1114         4

In [71]:
shoppinglist.sort_values(by='time')

                price  amount  time  evaluate
shoes          450.00       1  1112         3
adalgebra       35.29       1  1113         4
bodywash        55.87       2  1114         5
hat             20.00       1  1114         4
randomizedpro   44.53       1  1116         4

In [72]:
shoppinglist["evaluate"].rank()

bodywash         5.0
hat              3.0
randomizedpro    3.0
shoes            1.0
adalgebra        3.0
Name: evaluate, dtype: float64

In [73]:
sum(shoppinglist["price"])

605.6899999999999

In [74]:
max(shoppinglist["price"])

450.0

In [62]:
min(shoppinglist["price"])

20.0

In [65]:
import numpy as np
np.mean(shoppinglist["price"])

119.138