## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  孟媛
+ 学号  0165339

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [3]:
import pandas as pd
from pandas import Series, DataFrame
data = {'价格': [50, 100, 150, 200, 250], 
        '购买的数量': [1, 2, 3, 4, 5], 
        '收到的时间': [1112, 1113, 1114, 1115, 1116],
        '我的评价':[1,2,3,4,5]}
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['大衣','毛衣','卫衣','牛仔裤','红宝书'])
frame

      价格  购买的数量  收到的时间  我的评价
大衣    50      1   1112     1
毛衣   100      2   1113     2
卫衣   150      3   1114     3
牛仔裤  200      4   1115     4
红宝书  250      5   1116     5

#### 用index的label读取某一个物品数据

In [4]:
frame.loc['大衣']

价格         50
购买的数量       1
收到的时间    1112
我的评价        1
Name: 大衣, dtype: int64

#### 选择价格>200的物品

In [7]:
frame[frame['价格']>200]

      价格  购买的数量  收到的时间  我的评价
红宝书  250      5   1116     5

#### 挑选其中和学习有关的物品，构成一个子集

In [9]:
frame.loc[['红宝书']]

      价格  购买的数量  收到的时间  我的评价
红宝书  250      5   1116     5

#### 读取评价那列的数据

In [11]:
frame['我的评价']

大衣     1
毛衣     2
卫衣     3
牛仔裤    4
红宝书    5
Name: 我的评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [12]:
frame=frame.reindex(['红宝书','牛仔裤','毛衣','大衣','卫衣'])
frame

      价格  购买的数量  收到的时间  我的评价
红宝书  250      5   1116     5
牛仔裤  200      4   1115     4
毛衣   100      2   1113     2
大衣    50      1   1112     1
卫衣   150      3   1114     3

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [13]:
express_fees=pd.Series([1,2,3,4,5],index=['红宝书','牛仔裤','毛衣','大衣','卫衣'])
frame['价格']=frame['价格']+express_fees
frame

      价格  购买的数量  收到的时间  我的评价
红宝书  251      5   1116     5
牛仔裤  202      4   1115     4
毛衣   103      2   1113     2
大衣    54      1   1112     1
卫衣   155      3   1114     3

#### 按照价格从高到底排序

In [14]:
frame.sort_values(by='价格',ascending=False)

      价格  购买的数量  收到的时间  我的评价
红宝书  251      5   1116     5
牛仔裤  202      4   1115     4
卫衣   155      3   1114     3
毛衣   103      2   1113     2
大衣    54      1   1112     1

#### 按照收到的时间从低到高排序

In [15]:
frame.sort_values(by='收到的时间')

      价格  购买的数量  收到的时间  我的评价
大衣    54      1   1112     1
毛衣   103      2   1113     2
卫衣   155      3   1114     3
牛仔裤  202      4   1115     4
红宝书  251      5   1116     5

#### 得到各样物品评价的排名

In [17]:
frame['我的评价'].rank(method='first')

红宝书    5.0
牛仔裤    4.0
毛衣     2.0
大衣     1.0
卫衣     3.0
Name: 我的评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [19]:
frame['总花费']=frame['价格']*frame['购买的数量']
frame

      价格  购买的数量  收到的时间  我的评价   总花费
红宝书  251      5   1116     5  1255
牛仔裤  202      4   1115     4   808
毛衣   103      2   1113     2   206
大衣    54      1   1112     1    54
卫衣   155      3   1114     3   465

In [22]:
frame['总花费'].sum()

2788

In [23]:
frame['总花费'].max()

1255

In [24]:
frame['总花费'].min()

54

In [25]:
frame['总花费'].mean()

557.6