## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  温高枫
+ 学号  0165202

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

#### 用index的label读取某一个物品数据

In [84]:
import pandas as pd
from pandas import Series, DataFrame
data = { 'price': [1, 50, 110, 240, 244],
        'number': [20, 1, 2, 5, 10],  
       'satisfaction':[3,4,4,2,3],
        'time': [115, 117, 111, 1112,112]}
shop = pd.DataFrame(data)
shop

   number  price  satisfaction  time
0      20      1             3   115
1       1     50             4   117
2       2    110             4   111
3       5    240             2  1112
4      10    244             3   112

In [41]:
shop.loc[2]

number            2
price           110
satisfaction      4
time            111
Name: 2, dtype: object

#### 选择价格>200的物品

In [42]:
shop[shop['price'] > 200]

   number  price satisfaction  time
3       5    240            2  1112
4      10    244            3   112

#### 挑选其中和学习有关的物品，构成一个子集

In [43]:
shop1 = {'study': shop['number'][1:4]}
pd.DataFrame(shop1)

   study
1      1
2      2
3      5

#### 读取评价那列的数据

In [44]:
shop['satisfaction']

0    3
1    4
2    4
3    2
4    3
Name: satisfaction, dtype: object

#### 根据label对数据框重新排序，按照对你的迫切程度

In [58]:
shop.loc[[2,3,1,0,4]]

   number  price satisfaction  time
2       2    110            4   111
3       5    240            2  1112
1       1     50            4   117
0      20      1            3   115
4      10    244            3   112

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [63]:
fare=pd.Series([10,5,6,10,10])
shop['price']=shop['price']+fare
shop

   number  price satisfaction  time
0      20     11            3   115
1       1     55            4   117
2       2    116            4   111
3       5    250            2  1112
4      10    254            3   112

#### 按照价格从高到底排序

In [65]:
shop.sort_index(by='price',ascending=False)

E:\anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

   number  price satisfaction  time
4      10    254            3   112
3       5    250            2  1112
2       2    116            4   111
1       1     55            4   117
0      20     11            3   115

#### 按照收到的时间从低到高排序

In [66]:
shop.sort_index(by='time')

E:\anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

   number  price satisfaction  time
2       2    116            4   111
4      10    254            3   112
0      20     11            3   115
1       1     55            4   117
3       5    250            2  1112

#### 得到各样物品评价的排名

In [85]:
shop['satisfaction'].rank(method='first')

0    2.0
1    4.0
2    5.0
3    1.0
4    3.0
Name: satisfaction, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [72]:
shop['price'].sum()

686

In [73]:
shop['price'].max()

254

In [74]:
shop['price'].min()

11

In [75]:
shop['price'].mean()

137.2