## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  徐子诚
+ 学号 0165215

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame
data = {'price': [5, 8,29, 98, 299], 
        'quantity': [20, 10, 4, 1, 1], 
        'receive_time': [1111, 1111, 1113, 1114, 1112],
        'evaluation':[3,4,3,5,4]}
frame=pd.DataFrame(data,index = ['sticky_note','snack','detergent','book','furniture'])
frame

             evaluation  price  quantity  receive_time
sticky_note           3      5        20          1111
snack                 4      8        10          1111
detergent             3     29         4          1113
book                  5     98         1          1114
furniture             4    299         1          1112

#### 用index的label读取某一个物品数据

In [2]:
frame.loc['book']

evaluation         5
price             98
quantity           1
receive_time    1114
Name: book, dtype: int64

#### 选择价格>200的物品

In [3]:
frame[frame['price']>200]

           evaluation  price  quantity  receive_time
furniture           4    299         1          1112

#### 挑选其中和学习有关的物品，构成一个子集

In [4]:
frame.iloc[[0,3]]

             evaluation  price  quantity  receive_time
sticky_note           3      5        20          1111
book                  5     98         1          1114

#### 读取评价那列的数据

In [5]:
frame['evaluation']

sticky_note    3
snack          4
detergent      3
book           5
furniture      4
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [9]:
frame=frame.reindex(['book','furniture','sticky_note','detergent','snack'])
frame

             evaluation  price  quantity  receive_time
book                  5    108         1          1114
furniture             4    319         1          1112
sticky_note           3     20        20          1111
detergent             3     39         4          1113
snack                 4     23        10          1111

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [7]:
post_cost=pd.Series([10,20,15,10,15],['book','furniture','sticky_note','detergent','snack'])
frame['price']=frame['price']+post_cost
frame

             evaluation  price  quantity  receive_time
sticky_note           3     20        20          1111
snack                 4     23        10          1111
detergent             3     39         4          1113
book                  5    108         1          1114
furniture             4    319         1          1112

#### 按照价格从高到底排序

In [10]:
frame=frame.reindex(['furniture','book','detergent','snack','sticky_note'])
frame

             evaluation  price  quantity  receive_time
furniture             4    319         1          1112
book                  5    108         1          1114
detergent             3     39         4          1113
snack                 4     23        10          1111
sticky_note           3     20        20          1111

#### 按照收到的时间从低到高排序

In [11]:
frame=frame.reindex(['snack','sticky_note','furniture','detergent','book'])
frame

             evaluation  price  quantity  receive_time
snack                 4     23        10          1111
sticky_note           3     20        20          1111
furniture             4    319         1          1112
detergent             3     39         4          1113
book                  5    108         1          1114

#### 得到各样物品评价的排名

In [12]:
frame=frame.reindex(['book','snack','furniture','detergent','sticky_note'])
frame

             evaluation  price  quantity  receive_time
book                  5    108         1          1114
snack                 4     23        10          1111
furniture             4    319         1          1112
detergent             3     39         4          1113
sticky_note           3     20        20          1111

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [32]:
data_price=frame['price']
sums=0

most_expensive=frame['price'][0]
most_inexpensive=frame['price'][0]

for i in data_price:
    sums=sums+i
    if most_expensive<i:
        most_expensive=i
        
    if most_inexpensive>i:
        most_inexpensive=i

print('总花费为%s\n'%sums)
print('平均花费为%s\n'%(sums/5))
print('最大花费为%s\n'%most_expensive)
print('最小花费为%s\n'%most_inexpensive)

总花费为509

平均花费为101.8

最大花费为319

最小花费为20