## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  陆曼
+ 学号  0165185

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

#### 用index的label读取某一个物品数据

#### 选择价格>200的物品

#### 挑选其中和学习有关的物品，构成一个子集

#### 读取评价那列的数据

#### 根据label对数据框重新排序，按照对你的迫切程度

#### 生成一个series，记录这些物品的快递费，然后加到价格上

#### 按照价格从高到底排序

#### 按照收到的时间从低到高排序

#### 得到各样物品评价的排名

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [6]:
import pandas as pd

In [13]:
data={'价格':[27.5,340,300,30,58],'数量':[1,1,1,1,1],'收到的时间':[1130,1112,1129,1128,1115],'评价':[5,5,3,4,4]}
frame=pd.DataFrame(data,index=['文具','鞋','衣服','螺蛳粉','闹钟'])
frame

        价格  收到的时间  数量  评价
文具    27.5   1130   1   5
鞋    340.0   1112   1   5
衣服   300.0   1129   1   3
螺蛳粉   30.0   1128   1   4
闹钟    58.0   1115   1   4

In [14]:
frame.loc['文具']

价格         27.5
收到的时间    1130.0
数量          1.0
评价          5.0
Name: 文具, dtype: float64

In [12]:
frame[frame['价格']>200]

       价格  收到的时间  数量  评价
鞋   340.0   1112   1   5
衣服  300.0   1129   1   3

In [15]:
frame.loc[['文具','闹钟']]

      价格  收到的时间  数量  评价
文具  27.5   1130   1   5
闹钟  58.0   1115   1   4

In [16]:
frame['评价']

文具     5
鞋      5
衣服     3
螺蛳粉    4
闹钟     4
Name: 评价, dtype: int64

In [17]:
x= frame.reindex(['文具', '螺蛳粉', '鞋', '闹钟','衣服'])
x

        价格  收到的时间  数量  评价
文具    27.5   1130   1   5
螺蛳粉   30.0   1128   1   4
鞋    340.0   1112   1   5
闹钟    58.0   1115   1   4
衣服   300.0   1129   1   3

In [19]:
series1=pd.Series([0,0,0,0,0],index=['文具','鞋','衣服','螺蛳粉','闹钟'])
series2=pd.Series([27.5,340,300,30,58],index=['文具','鞋','衣服','螺蛳粉','闹钟'])
series3=series1+series2
series3

文具      27.5
鞋      340.0
衣服     300.0
螺蛳粉     30.0
闹钟      58.0
dtype: float64

In [20]:
frame.sort_values(by='价格',ascending=False)

        价格  收到的时间  数量  评价
鞋    340.0   1112   1   5
衣服   300.0   1129   1   3
闹钟    58.0   1115   1   4
螺蛳粉   30.0   1128   1   4
文具    27.5   1130   1   5

In [21]:
frame.sort_values(by='收到的时间')

        价格  收到的时间  数量  评价
鞋    340.0   1112   1   5
闹钟    58.0   1115   1   4
螺蛳粉   30.0   1128   1   4
衣服   300.0   1129   1   3
文具    27.5   1130   1   5

In [24]:
frame.sort_values(by='评价')
series4 = frame['评价']
series4

文具     5
鞋      5
衣服     3
螺蛳粉    4
闹钟     4
Name: 评价, dtype: int64

In [26]:
series3.sum()

755.5

In [28]:
series3.describe()

count      5.000000
mean     151.100000
std      155.293432
min       27.500000
25%       30.000000
50%       58.000000
75%      300.000000
max      340.000000
dtype: float64