## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  汪雅岚
+ 学号  0165218

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [19]:
import pandas as gw
gouwu = {'价格': {'伞': 50, '手机壳': 19.9,'书架': 63,'洗衣袋': 4,'书': 216},
       '购买的数量': {'伞':1, '手机壳':1,'书架':1,'洗衣袋': 1,'书': 10},   
       '收到的时间': {'伞': 1112, '手机壳': 1112,'书架': 1113,'洗衣袋': 1115,'书': 1114},
       '评价': {'伞': 5, '手机壳': 5,'书架': 4,'洗衣袋': 3,'书': 5},
      }
frame = pd. DataFrame(gouwu)
frame

        价格  收到的时间  评价  购买的数量
书    216.0   1114   5     10
书架    63.0   1113   4      1
伞     50.0   1112   5      1
手机壳   19.9   1112   5      1
洗衣袋    4.0   1115   3      1

#### 用index的label读取某一个物品数据

In [20]:
frame.loc['书']

价格        216.0
收到的时间    1114.0
评价          5.0
购买的数量      10.0
Name: 书, dtype: float64

#### 选择价格>200的物品

In [22]:
frame[frame['价格'] > 200]

      价格  收到的时间  评价  购买的数量
书  216.0   1114   5     10

#### 挑选其中和学习有关的物品，构成一个子集

In [25]:
frame.loc[['书','书架']]

       价格  收到的时间  评价  购买的数量
书   216.0   1114   5     10
书架   63.0   1113   4      1

#### 读取评价那列的数据

In [27]:
frame['评价']

书      5
书架     4
伞      5
手机壳    5
洗衣袋    3
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [29]:
frame1 = frame.reindex(['书', '洗衣袋', '伞', '书架','手机壳'])
frame1

        价格  收到的时间  评价  购买的数量
书    216.0   1114   5     10
洗衣袋    4.0   1115   3      1
伞     50.0   1112   5      1
书架    63.0   1113   4      1
手机壳   19.9   1112   5      1

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [31]:
jiage = pd.Series([5, 8, 7, 6, 4], index=['书', '洗衣袋', '伞', '书架','手机壳'])
frame1['快递费'] = jiage
frame1['调整后的价格']=frame1['价格']+jiage
frame1

        价格  收到的时间  评价  购买的数量  快递费  调整后的价格
书    216.0   1114   5     10    5   221.0
洗衣袋    4.0   1115   3      1    8    12.0
伞     50.0   1112   5      1    7    57.0
书架    63.0   1113   4      1    6    69.0
手机壳   19.9   1112   5      1    4    23.9

#### 按照价格从高到底排序

In [35]:
frame1.sort_values(by='价格')

        价格  收到的时间  评价  购买的数量  快递费  调整后的价格
洗衣袋    4.0   1115   3      1    8    12.0
手机壳   19.9   1112   5      1    4    23.9
伞     50.0   1112   5      1    7    57.0
书架    63.0   1113   4      1    6    69.0
书    216.0   1114   5     10    5   221.0

#### 按照收到的时间从低到高排序

In [37]:
frame1.sort_values(by='收到的时间')

        价格  收到的时间  评价  购买的数量  快递费  调整后的价格
伞     50.0   1112   5      1    7    57.0
手机壳   19.9   1112   5      1    4    23.9
书架    63.0   1113   4      1    6    69.0
书    216.0   1114   5     10    5   221.0
洗衣袋    4.0   1115   3      1    8    12.0

#### 得到各样物品评价的排名

In [39]:
frame1.sort_values(by='评价')
series = frame['评价']
series.rank()

书      4.0
书架     2.0
伞      4.0
手机壳    4.0
洗衣袋    1.0
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [40]:
series1=frame1['调整后的价格']
series1.sum()

382.9

In [43]:
series1.max()

221.0

In [44]:
series1.min()

12.0

In [45]:
series1.mean()

76.58