## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  白爽
+ 学号  0165197

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd
from pandas import Series, DataFrame
data={'price':[60,130,40,280,100],
     'amount':[1,3,1,2,2],
     'time':[1114,1113,1113,1116,1119],
     'comment':[5,5,5,3,4],}
frame=pd.DataFrame(data,index=['cream','cookie','book','sweater','lipstick'])
frame

          amount  comment  price  time
cream          1        5     60  1114
cookie         3        5    130  1113
book           1        5     40  1113
sweater        2        3    280  1116
lipstick       2        4    100  1119

#### 用index的label读取某一个物品数据

In [3]:
frame.loc['cookie']

amount        3
comment       5
price       130
time       1113
Name: cookie, dtype: int64

#### 选择价格>200的物品

In [4]:
frame[frame['price']>200]

         amount  comment  price  time
sweater       2        3    280  1116

#### 挑选其中和学习有关的物品，构成一个子集

In [5]:
study = {'price':frame['price'][2:3],
        'amount':frame['amount'][2:3],
        'time':frame['time'][2:3],
         'comment':frame['comment'][2:3],
        }
DataFrame(study)

      amount  comment  price  time
book       1        5     40  1113

#### 读取评价那列的数据

In [6]:
frame.comment

cream       5
cookie      5
book        5
sweater     3
lipstick    4
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [7]:
frame2=frame.reindex(['cookie','lipstick','sweater','book','cream'])
frame2

          amount  comment  price  time
cookie         3        5    130  1113
lipstick       2        4    100  1119
sweater        2        3    280  1116
book           1        5     40  1113
cream          1        5     60  1114

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [8]:
p=pd.Series([5,5,8,10,15],index=['cookie','lipstick','sweater','book','cream'])
frame['price']+p

book         50
cookie      135
cream        75
lipstick    105
sweater     288
dtype: int64

#### 按照价格从高到底排序

In [9]:
frame.sort_values(by='price',ascending=False)

          amount  comment  price  time
sweater        2        3    280  1116
cookie         3        5    130  1113
lipstick       2        4    100  1119
cream          1        5     60  1114
book           1        5     40  1113

#### 按照收到的时间从低到高排序

In [41]:

frame.sort_values(by='time')

          amount  comment  price  time
cookie         3        5    130  1113
book           1        5     40  1113
cream          1        5     60  1114
sweater        2        3    280  1116
lipstick       2        4    100  1119

#### 得到各样物品评价的排名

In [10]:
frame['comment'].rank(method='first')

cream       3.0
cookie      4.0
book        5.0
sweater     1.0
lipstick    2.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [14]:
frame['price'].sum()

610

In [15]:
frame['price'].max()

280

In [16]:
frame['price'].min()

40

In [17]:
frame['price'].mean()

122.0