## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  刘鑫
+ 学号  0165221

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd
import numpy as np

In [14]:
data = {'价格': [80, 400, 20, 30, 30, 70], 
        '购买的数量':[1,2, 1, 1, 2, 1],
        '收到的时间':[1113, 1112, 1115, 1116, 1117, 1116],
        '评价':[4, 4, 5, 5, 5, 5]
       }

shoppings= pd.DataFrame(data,index=['洗发水', '鞋子', '蜂蜜', '柠檬片','菊花茶',"Python数据分析"],
                    columns=("价格","购买的数量","收到的时间","评价"))

shoppings

             价格  购买的数量  收到的时间  评价
洗发水          80      1   1113   4
鞋子          400      2   1112   4
蜂蜜           20      1   1115   5
柠檬片          30      1   1116   5
菊花茶          30      2   1117   5
Python数据分析   70      1   1116   5

#### 用index的label读取某一个物品数据

In [15]:
shoppings.loc['洗发水']

价格         80
购买的数量       1
收到的时间    1113
评价          4
Name: 洗发水, dtype: int64

#### 选择价格>200的物品

In [16]:
shoppings[shoppings["价格"]>200]

     价格  购买的数量  收到的时间  评价
鞋子  400      2   1112   4

#### 挑选其中和学习有关的物品，构成一个子集

In [22]:
pd.DataFrame(shoppings.loc['Python数据分析'])

       Python数据分析
价格             70
购买的数量           1
收到的时间        1116
评价              5

#### 读取评价那列的数据

In [27]:
shoppings["评价"]

洗发水           4
鞋子            4
蜂蜜            5
柠檬片           5
菊花茶           5
Python数据分析    5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [37]:

shoppings.columns
shoppings["迫切程度"]=[2,1,5,4,3,6]
shoppings.sort_values(by='迫切程度')

             价格  购买的数量  收到的时间  评价  迫切程度
鞋子          402      2   1112   4     1
洗发水          81      1   1113   4     2
菊花茶          35      2   1117   5     3
柠檬片          34      1   1116   5     4
蜂蜜           23      1   1115   5     5
Python数据分析   76      1   1116   5     6

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [17]:
s1 = pd.Series(([1,2,3,4,5,6]), index=['洗发水', '鞋子', '蜂蜜', '柠檬片','菊花茶',"Python数据分析"])
shoppings["价格"]=s1+shoppings["价格"]
shoppings

             价格  购买的数量  收到的时间  评价
洗发水          81      1   1113   4
鞋子          402      2   1112   4
蜂蜜           23      1   1115   5
柠檬片          34      1   1116   5
菊花茶          35      2   1117   5
Python数据分析   76      1   1116   5

#### 按照价格从高到底排序

In [20]:
shoppings.sort_values(by='价格',ascending=False)

             价格  购买的数量  收到的时间  评价
鞋子          402      2   1112   4
洗发水          81      1   1113   4
Python数据分析   76      1   1116   5
菊花茶          35      2   1117   5
柠檬片          34      1   1116   5
蜂蜜           23      1   1115   5

#### 按照收到的时间从低到高排序

In [21]:
shoppings.sort_values(by='收到的时间')

             价格  购买的数量  收到的时间  评价
鞋子          402      2   1112   4
洗发水          81      1   1113   4
蜂蜜           23      1   1115   5
柠檬片          34      1   1116   5
Python数据分析   76      1   1116   5
菊花茶          35      2   1117   5

#### 得到各样物品评价的排名

In [27]:
shoppings["评价"].rank()

洗发水           1.5
鞋子            1.5
蜂蜜            4.5
柠檬片           4.5
菊花茶           4.5
Python数据分析    4.5
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [33]:
shoppings["价格"].sum()

651

In [31]:
shoppings["价格"].max()

402

In [34]:
shoppings["价格"].min()

23

In [36]:
shoppings["价格"].mean()

108.5