## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  颜丙琦
+ 学号  0165199

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [48]:
import pandas as pd
from pandas import Series, DataFrame
data ={'price':[517,276,72,51,1000],
       'amount':[3,8,13,11,1],
       'time':[1114,1115,1114,1112,1117],
       'comment':[5,4,5,3,4] 
       }
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['gifts','makeups','notebooks','pens','kindle'])
frame

           amount  comment  price  time
gifts           3        5    517  1114
makeups         8        4    276  1115
notebooks      13        5     72  1114
pens           11        3     51  1112
kindle          1        4   1000  1117

#### 用index的label读取某一个物品数据

In [12]:
frame.loc['kindle']

amount        1
comment       4
price      1000
time       1117
Name: kindle, dtype: int64

#### 选择价格>200的物品

In [14]:
frame[frame['price']>200]

         amount  comment  price  time
gifts         3        5    517  1114
makeups       8        4    276  1115
kindle        1        4   1000  1117

#### 挑选其中和学习有关的物品，构成一个子集

In [29]:
study= {'amount':frame['amount'][2:4],
        'comment':frame['comment'][2:4],
        'price':frame['price'][2:4],
        'time':frame['time'][2:4],
       }
DataFrame(study)

           amount  comment  price  time
notebooks      13        5     72  1114
pens           11        3     51  1112

#### 读取评价那列的数据

In [109]:
frame['comment']

gifts        5
makeups      4
notebooks    5
pens         3
kindle       4
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [119]:
pd.DataFrame(frame,index=['gifts','notebooks','pens','kindle','makeups'])

           amount  comment  price  time
gifts           3        5    517  1114
notebooks      13        5     72  1114
pens           11        3     51  1112
kindle          1        4   1000  1117
makeups         8        4    276  1115

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [125]:
obj = pd.Series([10,12,8,10,8], index=['gifts', 'makeups', 'notebooks', 'pens','kindle'])
frame['price']+obj

gifts         527
makeups       288
notebooks      80
pens           61
kindle       1008
dtype: int64

#### 按照价格从高到底排序

In [60]:
frame.sort_values(by='price',ascending=False)

           amount  comment  price  time
kindle          1        4   1000  1117
gifts           3        5    517  1114
makeups         8        4    276  1115
notebooks      13        5     72  1114
pens           11        3     51  1112

#### 按照收到的时间从低到高排序

In [62]:
frame.sort_values(by='time')

           amount  comment  price  time
pens           11        3     51  1112
gifts           3        5    517  1114
notebooks      13        5     72  1114
makeups         8        4    276  1115
kindle          1        4   1000  1117

#### 得到各样物品评价的排名

In [94]:
frame['comment'].rank(method='first')

gifts        4.0
makeups      2.0
notebooks    5.0
pens         1.0
kindle       3.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [95]:
df=pd.DataFrame(frame)
df['price'].sum()

1916

In [104]:
df['price'].max()

1000

In [105]:
df['price'].min()

51

In [106]:
df['price'].mean()

383.2