## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  邓明慧
+ 学号  0165200

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [11]:
import pandas as pd
from pandas import Series, DataFrame
data ={'price':[92,59,79,150,99],
       'amount':[2,1,1,2,1],
       'time':[1113,1117,1114,1115,1116],
       'comment':[5,4,5,4,4] 
       }
frame=pd.DataFrame(data, index=['books','schoolbag','jeans','clothes','shoes'])
frame

           amount  comment  price  time
books           2        5     92  1113
schoolbag       1        4     59  1117
jeans           1        5     79  1114
clothes         2        4    150  1115
shoes           1        4     99  1116

#### 用index的label读取某一个物品数据

In [12]:
frame.loc['schoolbag']

amount        1
comment       4
price        59
time       1117
Name: schoolbag, dtype: int64

#### 选择价格>200的物品

In [7]:
frame[frame['price']>200]

Empty DataFrame
Columns: [amount, comment, price, time]
Index: []

#### 挑选其中和学习有关的物品，构成一个子集

In [13]:
study= {'amount':frame['amount'][0:2],
        'comment':frame['comment'][0:2],
        'price':frame['price'][0:2],
        'time':frame['time'][0:2],
       }
DataFrame(study)

           amount  comment  price  time
books           2        5     92  1113
schoolbag       1        4     59  1117

#### 读取评价那列的数据

In [14]:
frame['comment']

books        5
schoolbag    4
jeans        5
clothes      4
shoes        4
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [16]:
pd.DataFrame(frame,index=['books','shoes','clothes','jeans','schoolbag'])

           amount  comment  price  time
books           2        5     92  1113
shoes           1        4     99  1116
clothes         2        4    150  1115
jeans           1        5     79  1114
schoolbag       1        4     59  1117

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [27]:
yunfei = pd.Series([10,12,8,10,8], index=['books', 'shoes', 'clothes', 'jeans','schoolbag'])
frame['price']+obj

books        112
clothes      168
jeans         97
schoolbag     79
shoes        119
dtype: int64

#### 按照价格从高到底排序

In [29]:
frame["price"]=yunfei.values+frame["price"]
frame.sort_values(by='price',ascending=False)

           amount  comment  price  time
clothes         2        4    170  1115
shoes           1        4    115  1116
books           2        5    112  1113
jeans           1        5     95  1114
schoolbag       1        4     83  1117

#### 按照收到的时间从低到高排序

In [30]:
frame.sort_values(by='time')

           amount  comment  price  time
books           2        5    112  1113
jeans           1        5     95  1114
clothes         2        4    170  1115
shoes           1        4    115  1116
schoolbag       1        4     83  1117

#### 得到各样物品评价的排名

In [31]:
frame['comment'].rank(method='first')

books        4.0
schoolbag    1.0
jeans        5.0
clothes      2.0
shoes        3.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [33]:
df=pd.DataFrame(frame)
df['price'].sum()

575

In [34]:
df['price'].max()

170

In [35]:
df['price'].min()

83

In [36]:
df['price'].mean()

115.0