## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  
+ 学号

In [241]:
岑雪莹
0165201

SyntaxError: invalid token (<ipython-input-241-b608a11c2dd5>, line 2)

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [242]:
data = {'价格': ['450', '150', '80', '80', '30', '20'], 
        '购买的数量': [1, 4, 2, 1, 5, 10], 
        '收到的时间': [1112, 1116, 1114, 1113, 1112, 1116],
        '我的评价': [4, 1, 3, 5, 6, 2]}
frame = pd.DataFrame(data, index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'])
frame

      价格  我的评价  收到的时间  购买的数量
香水   450     4   1112      1
手机壳  150     1   1116      4
帽子    80     3   1114      2
裤子    80     5   1113      1
本子    30     6   1112      5
零食    20     2   1116     10

#### 用index的label读取某一个物品数据

In [243]:
frame.loc['香水']

价格        450
我的评价        4
收到的时间    1112
购买的数量       1
Name: 香水, dtype: object

#### 选择价格>200的物品

In [244]:
obj = pd.Series([450, 150, 80, 80, 30, 20], 
                  index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'])
obj[obj>200]

香水    450
dtype: int64

#### 挑选其中和学习有关的物品，构成一个子集

In [245]:
pdata = {'价格': frame['价格'][4:5],
         '我的评价': frame['我的评价'][4:5],
         '收到的时间':frame['收到的时间'][4:5],
         '购买的数量':frame['购买的数量'][4:5]}
pd.DataFrame(pdata)

    价格  我的评价  收到的时间  购买的数量
本子  30     6   1112      5

#### 读取评价那列的数据

In [246]:
frame['我的评价']

香水     4
手机壳    1
帽子     3
裤子     5
本子     6
零食     2
Name: 我的评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [247]:
frame1 = frame.reindex(['香水','裤子','零食','手机壳','本子','帽子'])
frame1

      价格  我的评价  收到的时间  购买的数量
香水   450     4   1112      1
裤子    80     5   1113      1
零食    20     2   1116     10
手机壳  150     1   1116      4
本子    30     6   1112      5
帽子    80     3   1114      2

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [248]:
df1 = pd.DataFrame([450, 150, 80, 80, 30, 20], 
                  index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'],
                 columns=['价格'])
df1

      价格
香水   450
手机壳  150
帽子    80
裤子    80
本子    30
零食    20

In [249]:
df2 = pd.DataFrame([20, 0, 0, 0, 9, 10], 
                  index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'],
                 columns=['价格'])
df2

     价格
香水   20
手机壳   0
帽子    0
裤子    0
本子    9
零食   10

In [250]:
df1 + df2

      价格
香水   470
手机壳  150
帽子    80
裤子    80
本子    39
零食    30

#### 按照价格从高到底排序

In [251]:
frame.sort_values(by='价格',ascending=False)
frame

      价格  我的评价  收到的时间  购买的数量
香水   450     4   1112      1
手机壳  150     1   1116      4
帽子    80     3   1114      2
裤子    80     5   1113      1
本子    30     6   1112      5
零食    20     2   1116     10

#### 按照收到的时间从低到高排序

In [252]:
frame.sort_values(by='收到的时间',ascending=True)

      价格  我的评价  收到的时间  购买的数量
香水   450     4   1112      1
本子    30     6   1112      5
裤子    80     5   1113      1
帽子    80     3   1114      2
手机壳  150     1   1116      4
零食    20     2   1116     10

#### 得到各样物品评价的排名

In [253]:
obj = pd.Series([4,6,5,3,1,2],
                index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'])
obj.sort_values()

本子     1
零食     2
裤子     3
香水     4
帽子     5
手机壳    6
dtype: int64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [254]:
df = pd.DataFrame([450, 150, 80, 80, 30, 20], 
                  index=['香水', '手机壳', '帽子', '裤子', '本子', '零食'],
                 columns=['价格'])
df

      价格
香水   450
手机壳  150
帽子    80
裤子    80
本子    30
零食    20

In [255]:
df.sum()

价格    810
dtype: int64

In [256]:
df.mean()

价格    135.0
dtype: float64

In [257]:
df.max()

价格    450
dtype: int64

In [258]:
df.min()

价格    20
dtype: int64