## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  王惠民
+ 学号  0165192

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame
data ={'price':[0.1,16,13,21,10],
       'amount':[1,2,1,1,1],
       'time':[1114,1115,1114,1112,1117],
       'comment':[5,4,5,4,4] 
       }
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['stock form','roll paper','notebooks','pens','detergent'])
frame

            amount  comment  price  time
stock form       1        5    0.1  1114
roll paper       2        4   16.0  1115
notebooks        1        5   13.0  1114
pens             1        4   21.0  1112
detergent        1        4   10.0  1117

#### 用index的label读取某一个物品数据

In [2]:
frame.loc['detergent']

amount        1.0
comment       4.0
price        10.0
time       1117.0
Name: detergent, dtype: float64

#### 选择价格>200的物品

In [3]:
frame[frame['price']>200]

Empty DataFrame
Columns: [amount, comment, price, time]
Index: []

#### 挑选其中和学习有关的物品，构成一个子集

In [29]:
study= {'amount':frame['amount'][2:4],
        'comment':frame['comment'][2:4],
        'price':frame['price'][2:4],
        'time':frame['time'][2:4],
       }
DataFrame(study)

           amount  comment  price  time
notebooks      13        5     72  1114
pens           11        3     51  1112

#### 读取评价那列的数据

In [4]:
frame['comment']

stock form    5
roll paper    4
notebooks     5
pens          4
detergent     4
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [5]:
pd.DataFrame(frame,index=['roll paper','detergent','pens','stock form','notebooks'])

            amount  comment  price  time
roll paper       2        4   16.0  1115
detergent        1        4   10.0  1117
pens             1        4   21.0  1112
stock form       1        5    0.1  1114
notebooks        1        5   13.0  1114

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [6]:
obj = pd.Series([1,5,2,1,3], index=['stock form','roll paper','notebooks','pens','detergent'])
frame['price']+obj

stock form     1.1
roll paper    21.0
notebooks     15.0
pens          22.0
detergent     13.0
dtype: float64

#### 按照价格从高到底排序

In [7]:
frame.sort_values(by='price',ascending=False)

            amount  comment  price  time
pens             1        4   21.0  1112
roll paper       2        4   16.0  1115
notebooks        1        5   13.0  1114
detergent        1        4   10.0  1117
stock form       1        5    0.1  1114

#### 按照收到的时间从低到高排序

In [8]:
frame.sort_values(by='time')

            amount  comment  price  time
pens             1        4   21.0  1112
stock form       1        5    0.1  1114
notebooks        1        5   13.0  1114
roll paper       2        4   16.0  1115
detergent        1        4   10.0  1117

#### 得到各样物品评价的排名

In [9]:
frame['comment'].rank(method='first')

stock form    4.0
roll paper    1.0
notebooks     5.0
pens          2.0
detergent     3.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [10]:
df=pd.DataFrame(frame)
df['price'].sum()

60.1

In [11]:
df['price'].max()

21.0

In [12]:
df['price'].min()

0.10000000000000001

In [13]:
df['price'].mean()

12.02