## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  汪虎晨
+ 学号0165212

In [7]:
import pandas as pd

In [8]:
from pandas import Series, DataFrame

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [12]:
data = {'价格': [339, 599, 65, 200, 200, 10], 
        '数量': [1, 1, 2, 3, 1, 2],
        '时间': [1112, 1115, 1113, 1117, 1112, 1113],
        '评价': [5, 5, 4, 3, 4, 3]}

frame = pd.DataFrame(data,index=['鼠标', '硬盘', '书', '衣物', '体重秤', '笔'])

frame

      价格  数量    时间  评价
鼠标   339   1  1112   5
硬盘   599   1  1115   5
书     65   2  1113   4
衣物   200   3  1117   3
体重秤  200   1  1112   4
笔     10   2  1113   3

#### 用index的label读取某一个物品数据

In [17]:
frame.loc['书']

价格      65
数量       2
时间    1113
评价       4
Name: 书, dtype: int64

#### 选择价格>200的物品

In [20]:
frame[frame['价格']>200]

     价格  数量    时间  评价
鼠标  339   1  1112   5
硬盘  599   1  1115   5

#### 挑选其中和学习有关的物品，构成一个子集

In [24]:
frame.loc[['书','笔']]

   价格  数量    时间  评价
书  65   2  1113   4
笔  10   2  1113   3

#### 读取评价那列的数据

In [25]:
frame['评价']

鼠标     5
硬盘     5
书      4
衣物     3
体重秤    4
笔      3
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [26]:
frame2 = frame.reindex(['衣物', '笔', '鼠标', '硬盘', '书', '体重秤'])
frame2

      价格  数量    时间  评价
衣物   200   3  1117   3
笔     10   2  1113   3
鼠标   339   1  1112   5
硬盘   599   1  1115   5
书     65   2  1113   4
体重秤  200   1  1112   4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [30]:
s1 = pd.Series([5, 4, 3, 2, 5, 8], index=['鼠标', '硬盘', '书', '衣物', '体重秤', '笔'])
frame['价格']+s1

鼠标     344
硬盘     603
书       68
衣物     202
体重秤    205
笔       18
dtype: int64

#### 按照价格从高到底排序

In [31]:
frame.sort_values(by='价格',ascending=False)

      价格  数量    时间  评价
硬盘   599   1  1115   5
鼠标   339   1  1112   5
衣物   200   3  1117   3
体重秤  200   1  1112   4
书     65   2  1113   4
笔     10   2  1113   3

#### 按照收到的时间从低到高排序

In [32]:
frame.sort_values(by='时间')

      价格  数量    时间  评价
鼠标   339   1  1112   5
体重秤  200   1  1112   4
书     65   2  1113   4
笔     10   2  1113   3
硬盘   599   1  1115   5
衣物   200   3  1117   3

#### 得到各样物品评价的排名

In [33]:
frame['评价'].rank(method='first')

鼠标     5.0
硬盘     6.0
书      3.0
衣物     1.0
体重秤    4.0
笔      2.0
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [34]:
df=pd.DataFrame(frame)
df['价格'].sum()

1413

In [35]:
df['价格'].max()

599

In [36]:
df['价格'].min()

10

In [37]:
df['价格'].mean()

235.5