## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  文华虎
+ 学号  0165180

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [30]:
data = {'价格': [300, 500, 250, 199], 
        '购买的数量': [1, 1, 3, 2], 
        '收到的时间': [1113, 1114, 1117, 1116],
        '我的评价':[3,4,5,5]
       }
frame=pd.DataFrame(data)
frame = pd.DataFrame(data,index=['鞋子', '羽绒服', '篮球', '笔记本'])

frame

      价格  我的评价  收到的时间  购买的数量
鞋子   300     3   1113      1
羽绒服  500     4   1114      1
篮球   250     5   1117      3
笔记本  199     5   1116      2

#### 用index的label读取某一个物品数据

In [31]:
frame.loc['鞋子']

价格        300
我的评价        3
收到的时间    1113
购买的数量       1
Name: 鞋子, dtype: int64

#### 选择价格>200的物品

In [32]:
frame[frame['价格']>200]

      价格  我的评价  收到的时间  购买的数量
鞋子   300     3   1113      1
羽绒服  500     4   1114      1
篮球   250     5   1117      3

#### 挑选其中和学习有关的物品，构成一个子集

In [33]:
study= {'价格':frame['价格'][3:4],
        '我的评价':frame['我的评价'][3:4],
        '购买的数量':frame['购买的数量'][3:4],
        '收到的时间':frame['收到的时间'][3:4],
       }
DataFrame(study)

      价格  我的评价  收到的时间  购买的数量
笔记本  199     5   1116      2

#### 读取评价那列的数据

In [34]:
frame['我的评价']

鞋子     3
羽绒服    4
篮球     5
笔记本    5
Name: 我的评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [35]:
frame1 = frame.reindex(['笔记本','羽绒服','鞋子','篮球'])
frame1

      价格  我的评价  收到的时间  购买的数量
笔记本  199     5   1116      2
羽绒服  500     4   1114      1
鞋子   300     3   1113      1
篮球   250     5   1117      3

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [36]:
obj = pd.Series([10,15,5,20],index = ['笔记本','羽绒服','鞋子','篮球'])
frame1['价格'] + obj

笔记本    209
羽绒服    515
鞋子     305
篮球     270
dtype: int64

#### 按照价格从高到底排序

In [37]:
frame.sort_values(by='价格')

      价格  我的评价  收到的时间  购买的数量
笔记本  199     5   1116      2
篮球   250     5   1117      3
鞋子   300     3   1113      1
羽绒服  500     4   1114      1

#### 按照收到的时间从低到高排序

In [38]:
frame.sort_values(by='收到的时间')

      价格  我的评价  收到的时间  购买的数量
鞋子   300     3   1113      1
羽绒服  500     4   1114      1
笔记本  199     5   1116      2
篮球   250     5   1117      3

#### 得到各样物品评价的排名

In [39]:
frame.sort_values(by='我的评价')

      价格  我的评价  收到的时间  购买的数量
鞋子   300     3   1113      1
羽绒服  500     4   1114      1
篮球   250     5   1117      3
笔记本  199     5   1116      2

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [40]:
df=pd.DataFrame(frame)
df['价格'].sum()

1249

In [41]:
df['价格'].max()

500

In [42]:
df['价格'].min()

199

In [43]:
df['价格'].mean()

312.25