## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 廖明可
+ 学号 0165204

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [24]:
import pandas as pd
from pandas import DataFrame

data = {'price': [22.4, 73.5, 234, 50.8, 26.9], 
        'number': [1, 2, 1, 1, 1], 
        'receiving date': [1115, 1117, 1119, 1115, 1116],
        'evaluation': [5, 4, 5, 5, 5]}

frame = pd.DataFrame(data, columns=['price', 'number', 'receiving date', 'evaluation'],
                     index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])

frame

         price  number  receiving date  evaluation
高数辅导书     22.4       1            1115           5
百雀羚面膜     73.5       2            1117           4
elta洗面奶  234.0       1            1119           5
德运奶粉      50.8       1            1115           5
钙奶饼干      26.9       1            1116           5

#### 用index的label读取某一个物品数据

In [25]:
frame.loc['钙奶饼干']

price               26.9
number               1.0
receiving date    1116.0
evaluation           5.0
Name: 钙奶饼干, dtype: float64

#### 选择价格>200的物品

In [26]:
obj = pd.Series([22.4, 73.5, 234, 50.8, 26.9],
                index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])
obj[obj > 200]

elta洗面奶    234.0
dtype: float64

#### 挑选其中和学习有关的物品，构成一个子集

In [27]:
study = {'price': frame['price'][:1],
         'number': frame['number'][:1],
         'receiving date': frame['receiving date'][:1],
         'evaluation': frame['evaluation'][:1]}
pd.DataFrame(study)

       evaluation  number  price  receiving date
高数辅导书           5       1   22.4            1115

#### 读取评价那列的数据

In [28]:
frame['evaluation']

高数辅导书      5
百雀羚面膜      4
elta洗面奶    5
德运奶粉       5
钙奶饼干       5
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [29]:
frame2 = pd.DataFrame(data, columns=['price', 'number', 'receiving date', 'evaluation'],
                      index=['德运奶粉', '高数辅导书', 'elta洗面奶', '钙奶饼干', '百雀羚面膜'])
frame2

         price  number  receiving date  evaluation
德运奶粉      22.4       1            1115           5
高数辅导书     73.5       2            1117           4
elta洗面奶  234.0       1            1119           5
钙奶饼干      50.8       1            1115           5
百雀羚面膜     26.9       1            1116           5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [30]:
s1 = pd.Series([22.4, 73.5, 234, 50.8, 26.9], index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])
s1

s2 = pd.Series([0, 0, 0, 0, 0], index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])
s2

s1 + s2

高数辅导书       22.4
百雀羚面膜       73.5
elta洗面奶    234.0
德运奶粉        50.8
钙奶饼干        26.9
dtype: float64

#### 按照价格从高到低排序

In [31]:
frame.sort_values(by='price', ascending=False)

         price  number  receiving date  evaluation
elta洗面奶  234.0       1            1119           5
百雀羚面膜     73.5       2            1117           4
德运奶粉      50.8       1            1115           5
钙奶饼干      26.9       1            1116           5
高数辅导书     22.4       1            1115           5

#### 按照收到的时间从低到高排序

In [32]:
frame.sort_values(by='receiving date', ascending=True)

         price  number  receiving date  evaluation
高数辅导书     22.4       1            1115           5
德运奶粉      50.8       1            1115           5
钙奶饼干      26.9       1            1116           5
百雀羚面膜     73.5       2            1117           4
elta洗面奶  234.0       1            1119           5

#### 得到各样物品评价的排名

In [35]:
data = {'evaluation': [5, 4, 5, 5, 5]}

frame3 = pd.DataFrame(data, index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])

frame3.rank(method='first')

         evaluation
高数辅导书           2.0
百雀羚面膜           1.0
elta洗面奶         3.0
德运奶粉            4.0
钙奶饼干            5.0

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [40]:
data = {'price': [22.4, 73.5, 234, 50.8, 26.9]}

frame4 = pd.DataFrame(data, index=['高数辅导书', '百雀羚面膜', 'elta洗面奶', '德运奶粉', '钙奶饼干'])

frame4.sum()

price    407.6
dtype: float64

In [44]:
frame4.min()

price    22.4
dtype: float64

In [45]:
frame4.max()

price    234.0
dtype: float64

In [46]:
frame4.mean()

price    81.52
dtype: float64