## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 王文韬
+ 学号 0165224

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [28]:
import pandas as pd
from pandas import DataFrame

data = {'price': [18, 49.9, 399, 69, 32.5], 
        'number': [1, 2, 1, 1, 1], 
        'receiving date': [1114, 1114, 1120, 1121, 1122],
        'evaluation': [5, 4, 5, 5, 5]}

frame = pd.DataFrame(data, columns=['price', 'number', 'receiving date', 'evaluation'],
                     index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])

frame

        price  number  receiving date  evaluation
六级词汇     18.0       1            1114           5
自然堂洗面奶   49.9       2            1114           4
NIKE    399.0       1            1120           5
德芙巧克力    69.0       1            1121           5
苏打饼干     32.5       1            1122           5

#### 用index的label读取某一个物品数据

In [29]:
frame.loc['苏打饼干']

price               32.5
number               1.0
receiving date    1122.0
evaluation           5.0
Name: 苏打饼干, dtype: float64

#### 选择价格>200的物品

In [30]:
obj = pd.Series([22.4, 73.5, 234, 50.8, 26.9],
                index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])
obj[obj > 200]

NIKE    234.0
dtype: float64

#### 挑选其中和学习有关的物品，构成一个子集

In [31]:
study = {'price': frame['price'][:1],
         'number': frame['number'][:1],
         'receiving date': frame['receiving date'][:1],
         'evaluation': frame['evaluation'][:1]}
pd.DataFrame(study)

      evaluation  number  price  receiving date
六级词汇           5       1   18.0            1114

#### 读取评价那列的数据

In [32]:
frame['evaluation']

六级词汇      5
自然堂洗面奶    4
NIKE      5
德芙巧克力     5
苏打饼干      5
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [33]:
frame2 = pd.DataFrame(data, columns=['price', 'number', 'receiving date', 'evaluation'],
                      index=['德芙巧克力', '六级词汇', 'NIKE', '苏打饼干', '自然堂洗面奶'])
frame2

        price  number  receiving date  evaluation
德芙巧克力    18.0       1            1114           5
六级词汇     49.9       2            1114           4
NIKE    399.0       1            1120           5
苏打饼干     69.0       1            1121           5
自然堂洗面奶   32.5       1            1122           5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [34]:
s1 = pd.Series([22.4, 73.5, 234, 50.8, 26.9], index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])
s1

s2 = pd.Series([0, 0, 0, 0, 0], index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])
s2

s1 + s2

六级词汇       22.4
自然堂洗面奶     73.5
NIKE      234.0
德芙巧克力      50.8
苏打饼干       26.9
dtype: float64

#### 按照价格从高到低排序

In [35]:
frame.sort_values(by='price', ascending=False)

        price  number  receiving date  evaluation
NIKE    399.0       1            1120           5
德芙巧克力    69.0       1            1121           5
自然堂洗面奶   49.9       2            1114           4
苏打饼干     32.5       1            1122           5
六级词汇     18.0       1            1114           5

#### 按照收到的时间从低到高排序

In [36]:
frame.sort_values(by='receiving date', ascending=True)

        price  number  receiving date  evaluation
六级词汇     18.0       1            1114           5
自然堂洗面奶   49.9       2            1114           4
NIKE    399.0       1            1120           5
德芙巧克力    69.0       1            1121           5
苏打饼干     32.5       1            1122           5

#### 得到各样物品评价的排名

In [37]:
data = {'evaluation': [5, 4, 5, 5, 5]}

frame3 = pd.DataFrame(data, index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])

frame3.rank(method='first')

        evaluation
六级词汇           2.0
自然堂洗面奶         1.0
NIKE           3.0
德芙巧克力          4.0
苏打饼干           5.0

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [38]:
data = {'price': [22.4, 73.5, 234, 50.8, 26.9]}

frame4 = pd.DataFrame(data, index=['六级词汇', '自然堂洗面奶', 'NIKE', '德芙巧克力', '苏打饼干'])

frame4.sum()

price    407.6
dtype: float64

In [44]:
frame4.min()

price    22.4
dtype: float64

In [45]:
frame4.max()

price    234.0
dtype: float64

In [46]:
frame4.mean()

price    81.52
dtype: float64