## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 黄德辉
+ 学号 0165241

In [1]:
import pandas as pd

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
data = {'价格': [24.8, 558, 27.3, 32.5, 23.7],
        '数量': [1, 1, 1, 1, 3],
        '到货时间': [1116, 1112, 1113, 1117, 1113],
        '评价': [5, 5, 5, 4, 5]}
books = pd.DataFrame(data, index = ['追风筝的人', "三体十倍价典藏版", '围城', '苏东坡传', '用来玩的国粹炫彩缝线本'])
books

                价格  数量  到货时间  评价
追风筝的人         24.8   1  1116   5
三体十倍价典藏版     558.0   1  1112   5
围城            27.3   1  1113   5
苏东坡传          32.5   1  1117   4
用来玩的国粹炫彩缝线本   23.7   3  1113   5

#### 用index的label读取某一个物品数据

In [3]:
books.loc['围城']

价格        27.3
数量         1.0
到货时间    1113.0
评价         5.0
Name: 围城, dtype: float64

#### 选择价格>200的物品

In [4]:
books[books['价格'] > 200]

             价格  数量  到货时间  评价
三体十倍价典藏版  558.0   1  1112   5

#### 挑选其中和学习有关的物品，构成一个子集

In [5]:
for_study = {'价格': books['价格'][:-1],
              '数量': books['数量'][0:4],
              '到货时间': books['到货时间'][:-1],
              '评价': books['评价'][:-1],    
}
pd.DataFrame(for_study)

             价格  数量  到货时间  评价
追风筝的人      24.8   1  1116   5
三体十倍价典藏版  558.0   1  1112   5
围城         27.3   1  1113   5
苏东坡传       32.5   1  1117   4

#### 读取评价那列的数据

In [6]:
books['评价']

追风筝的人          5
三体十倍价典藏版       5
围城             5
苏东坡传           4
用来玩的国粹炫彩缝线本    5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [7]:
books_resorted = books.reindex(['围城', '三体十倍价典藏版', '用来玩的国粹炫彩缝线本', '苏东坡传', '追风筝的人'])
books_resorted

                价格  数量  到货时间  评价
围城            27.3   1  1113   5
三体十倍价典藏版     558.0   1  1112   5
用来玩的国粹炫彩缝线本   23.7   3  1113   5
苏东坡传          32.5   1  1117   4
追风筝的人         24.8   1  1116   5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [8]:
express_fee = pd.Series([0, 0, 0, 0, 12], index = ['追风筝的人', "三体十倍价典藏版", '围城', '苏东坡传', '用来玩的国粹炫彩缝线本'])
books['价格'] += express_fee
books

                价格  数量  到货时间  评价
追风筝的人         24.8   1  1116   5
三体十倍价典藏版     558.0   1  1112   5
围城            27.3   1  1113   5
苏东坡传          32.5   1  1117   4
用来玩的国粹炫彩缝线本   35.7   3  1113   5

#### 按照价格从高到底排序

In [9]:
books.sort_values(by = '价格', ascending = False)

                价格  数量  到货时间  评价
三体十倍价典藏版     558.0   1  1112   5
用来玩的国粹炫彩缝线本   35.7   3  1113   5
苏东坡传          32.5   1  1117   4
围城            27.3   1  1113   5
追风筝的人         24.8   1  1116   5

#### 按照收到的时间从低到高排序

In [10]:
books.sort_values(by = '到货时间')

                价格  数量  到货时间  评价
三体十倍价典藏版     558.0   1  1112   5
围城            27.3   1  1113   5
用来玩的国粹炫彩缝线本   35.7   3  1113   5
追风筝的人         24.8   1  1116   5
苏东坡传          32.5   1  1117   4

#### 得到各样物品评价的排名

In [11]:
books2 = books.sort_values(by = '评价', ascending = False)
books2['评价排名'] = [1,2,3,4,5]
books2

                价格  数量  到货时间  评价  评价排名
追风筝的人         24.8   1  1116   5     1
三体十倍价典藏版     558.0   1  1112   5     2
围城            27.3   1  1113   5     3
用来玩的国粹炫彩缝线本   35.7   3  1113   5     4
苏东坡传          32.5   1  1117   4     5

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [12]:
total_price = float(books.sum()[:1])
max_price = max(list(books['价格']))
min_price = float(books.sort_values(by = '价格')[:1]['价格'])
mean_price = float(books.mean()[:1])
print('总花费：' + str(total_price) + '\n最大值：' + str(max_price) + '\n最小值：' + str(min_price) + '\n平均值：' + str(mean_price))

总花费：678.3
最大值：558.0
最小值：24.8
平均值：135.66