## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  
+ 学号

In [ ]:
吴雨婷
0165211

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [63]:
data = {'价格': [210,40,88,30,99,30], 
        '数量': [2,5,4,3,1,2], 
        '时间': [1115,1116,1114,1113,1112,1113], 
        '评价': [4,5,3,4,2,5]}

In [64]:
buy = pd.DataFrame(data,  columns=['价格','数量','时间','评价'],
                       index=['鞋子','洗衣液','书','卫生纸','口红','笔芯'])
buy

      价格  数量    时间  评价
鞋子   210   2  1115   4
洗衣液   40   5  1116   5
书     88   4  1114   3
卫生纸   30   3  1113   4
口红    99   1  1112   2
笔芯    30   2  1113   5

#### 用index的label读取某一个物品数据

In [11]:
buy.loc['口红']

价格      99
数量       1
时间    1112
评价       2
Name: 口红, dtype: int64

#### 选择价格>200的物品

In [15]:
buy[buy['价格'] > 200]

     价格  数量    时间  评价
鞋子  210   2  1115   4

#### 挑选其中和学习有关的物品，构成一个子集

In [20]:
buy.loc[['书','笔芯']]

    价格  数量    时间  评价
书   88   4  1114   3
笔芯  30   2  1113   5

#### 读取评价那列的数据

In [21]:
buy['评价']

鞋子     4
洗衣液    5
书      3
卫生纸    4
口红     2
笔芯     5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [37]:
buy_rank=buy.reindex(['鞋子','洗衣液','卫生纸','口红','书','笔芯'])
buy_rank

      价格  数量    时间  评价
鞋子   210   2  1115   4
洗衣液   40   5  1116   5
卫生纸   30   3  1113   4
口红    99   1  1112   2
书     88   4  1114   3
笔芯    30   2  1113   5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [35]:
series =pd.Series([9,0,0,0], index=['价格','数量','时间','评价'] )
buy+series

      价格  数量    时间  评价
鞋子   219   2  1115   4
洗衣液   49   5  1116   5
书     97   4  1114   3
卫生纸   39   3  1113   4
口红   108   1  1112   2
笔芯    39   2  1113   5

#### 按照价格从高到底排序

In [39]:
buy.sort_values(by='价格',ascending=False)

      价格  数量    时间  评价
鞋子   210   2  1115   4
口红    99   1  1112   2
书     88   4  1114   3
洗衣液   40   5  1116   5
卫生纸   30   3  1113   4
笔芯    30   2  1113   5

#### 按照收到的时间从低到高排序

In [40]:
buy.sort_values(by='时间')

      价格  数量    时间  评价
口红    99   1  1112   2
卫生纸   30   3  1113   4
笔芯    30   2  1113   5
书     88   4  1114   3
鞋子   210   2  1115   4
洗衣液   40   5  1116   5

#### 得到各样物品评价的排名

In [51]:
buy['评价'].rank(method='first')

鞋子     3.0
洗衣液    5.0
书      2.0
卫生纸    4.0
口红     1.0
笔芯     6.0
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [57]:
#总花费
buy['价格'].sum()

497

In [58]:
#最大值
buy['价格'].max()

210

In [59]:
#最小值
buy['价格'].min()

30

In [61]:
#平均值
buy['价格'].mean()

82.83333333333333