## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  
+ 学号

In [ ]:
李志伟  0165177

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [3]:
import pandas as pd
import numpy as np
datas = np.array([54,5,1114,5,135,1,1115,4,260,1,1112,3,22,2,1115,2,60,1,1120,4])
products = pd.DataFrame(datas.reshape((5,4)),index=['books','pants','earphone','pens','charger'],
                        columns=['price','quantify','date','evaluation'])
products

          price  quantify  date  evaluation
books        54         5  1114           5
pants       135         1  1115           4
earphone    260         1  1112           3
pens         22         2  1115           2
charger      60         1  1120           4

#### 用index的label读取某一个物品数据

In [4]:
products.loc['pens']

price           22
quantify         2
date          1115
evaluation       2
Name: pens, dtype: int32

#### 选择价格>200的物品

In [5]:
products[products['price']>200]

          price  quantify  date  evaluation
earphone    260         1  1112           3

#### 挑选其中和学习有关的物品，构成一个子集

In [6]:
products_1 = products.loc[['books','pens']]
products_1

       price  quantify  date  evaluation
books     54         5  1114           5
pens      22         2  1115           2

#### 读取评价那列的数据

In [7]:
products['evaluation']

books       5
pants       4
earphone    3
pens        2
charger     4
Name: evaluation, dtype: int32

#### 根据label对数据框重新排序，按照对你的迫切程度

In [8]:
products_2 = products.reindex(['books','pens','charger','earphone','pants'])
products_2

          price  quantify  date  evaluation
books        54         5  1114           5
pens         22         2  1115           2
charger      60         1  1120           4
earphone    260         1  1112           3
pants       135         1  1115           4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [9]:
express_fee = pd.Series([5,6,10,6,3],index=['books','pants','earphone','pens','charger'])

products['price'] = express_fee + products['price']
products

          price  quantify  date  evaluation
books        59         5  1114           5
pants       141         1  1115           4
earphone    270         1  1112           3
pens         28         2  1115           2
charger      63         1  1120           4

#### 按照价格从高到底排序

In [10]:
products.sort_values(by=['price'],ascending=False)

          price  quantify  date  evaluation
earphone    270         1  1112           3
pants       141         1  1115           4
charger      63         1  1120           4
books        59         5  1114           5
pens         28         2  1115           2

#### 按照收到的时间从低到高排序

In [11]:
products.sort_values(by=['date'],ascending=True)

          price  quantify  date  evaluation
earphone    270         1  1112           3
books        59         5  1114           5
pants       141         1  1115           4
pens         28         2  1115           2
charger      63         1  1120           4

#### 得到各样物品评价的排名

In [12]:
products['evaluation'].rank(method='first')

books       5.0
pants       3.0
earphone    2.0
pens        1.0
charger     4.0
Name: evaluation, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [13]:
products['total']=products['price']*products['quantify']
products

          price  quantify  date  evaluation  total
books        59         5  1114           5    295
pants       141         1  1115           4    141
earphone    270         1  1112           3    270
pens         28         2  1115           2     56
charger      63         1  1120           4     63

In [14]:
products['total'].sum()

825

In [15]:
products['total'].max()

295

In [16]:
products['total'].min()

56

In [21]:
#物品的平均值
products_mean = products['total'].sum()/products['quantify'].sum()
products_mean

82.5