## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  张凡
+ 学号  0165194

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [6]:
import pandas as pd
from pandas import Series, DataFrame
goods = {'price':[1300,55,90,60,168],
        'amount':[1,1,1,30,2],
         'day':[11,12,13,16,17],
         'comment':[5,3,3,4,2],
        }

frame = pd.DataFrame(goods,index=['pad','bag','shoes','facial_mask','sunblock'])
frame

             amount  comment  day  price
pad               1        5   11   1300
bag               1        3   12     55
shoes             1        3   13     90
facial_mask      30        4   16     60
sunblock          2        2   17    168

#### 用index的label读取某一个物品数据

In [8]:
frame.loc['bag']

amount      1
comment     3
day        12
price      55
Name: bag, dtype: int64

#### 选择价格>200的物品

In [10]:
frame[frame['price']>200]

     amount  comment  day  price
pad       1        5   11   1300

#### 挑选其中和学习有关的物品，构成一个子集

In [11]:
study = {'price':frame['price'][0:2],
        'amount':frame['amount'][0:2],
        'day':frame['day'][0:2],
         'comment':frame['comment'][0:2,]
        }
DataFrame(study)

     amount  comment  day  price
pad       1        5   11   1300
bag       1        3   12     55

#### 读取评价那列的数据

In [12]:
frame['comment']

pad            5
bag            3
shoes          3
facial_mask    4
sunblock       2
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [16]:
pd.DataFrame(frame,index=['pad','shoes','sunblock','facial_mask','bag'])

             amount  comment  day  price
pad               1        5   11   1300
shoes             1        3   13     90
sunblock          2        2   17    168
facial_mask      30        4   16     60
bag               1        3   12     55

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [17]:
obj=pd.Series([4,5,3,7,2],index=['pad','shoes','sunblock','facial_mask','bag'])
frame['price']+obj

bag              57
facial_mask      67
pad            1304
shoes            95
sunblock        171
dtype: int64

#### 按照价格从高到底排序

In [19]:
frame.sort_values(by='price',ascending=False)

             amount  comment  day  price
pad               1        5   11   1300
sunblock          2        2   17    168
shoes             1        3   13     90
facial_mask      30        4   16     60
bag               1        3   12     55

#### 按照收到的时间从低到高排序

In [20]:
frame.sort_values(by='day')

             amount  comment  day  price
pad               1        5   11   1300
bag               1        3   12     55
shoes             1        3   13     90
facial_mask      30        4   16     60
sunblock          2        2   17    168

#### 得到各样物品评价的排名

In [24]:
frame['comment'].rank(method='first')

pad            5.0
bag            2.0
shoes          3.0
facial_mask    4.0
sunblock       1.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [25]:
frame['price'].sum()

1673

In [28]:
frame['price'].max()

1300

In [29]:
frame['price'].min()

55

In [30]:
frame['price'].mean()

334.6