## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  易扬
+ 学号  0174922

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [52]:
import pandas as pd
from pandas import Series, DataFrame
shuangshiyi = { '价格':[81,60,90,50,350],
               '收到商品的时间':[20181114,20181113,20181120,20181116,20181117],
               '你的评价':[5,5,5,5,4]
              }
frame =pd.DataFrame(shuangshiyi, index=['德芙巧克力','旺旺小馒头','四六级收音机','洗发水','羽绒服'])
frame

         价格   收到商品的时间  你的评价
德芙巧克力    81  20181114     5
旺旺小馒头    60  20181113     5
四六级收音机   90  20181120     5
洗发水      50  20181116     5
羽绒服     350  20181117     4

#### 用index的label读取某一个物品数据

In [53]:
frame.loc['德芙巧克力']

价格               81
收到商品的时间    20181114
你的评价              5
Name: 德芙巧克力, dtype: int64

In [54]:
frame.iloc[0:1]

       价格   收到商品的时间  你的评价
德芙巧克力  81  20181114     5

#### 选择价格>200的物品

In [55]:
frame[frame['价格']>200]

      价格   收到商品的时间  你的评价
羽绒服  350  20181117     4

#### 挑选其中和学习有关的物品，构成一个子集

In [56]:
frame.loc[['四六级收音机','旺旺小馒头']]

        价格   收到商品的时间  你的评价
四六级收音机  90  20181120     5
旺旺小馒头   60  20181113     5

#### 读取评价那列的数据

In [57]:
frame['你的评价']

德芙巧克力     5
旺旺小馒头     5
四六级收音机    5
洗发水       5
羽绒服       4
Name: 你的评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [58]:
frame.reindex(['旺旺小馒头','洗发水','羽绒服','四六级收音机','德芙巧克力'])

         价格   收到商品的时间  你的评价
旺旺小馒头    60  20181113     5
洗发水      50  20181116     5
羽绒服     350  20181117     4
四六级收音机   90  20181120     5
德芙巧克力    81  20181114     5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [59]:
price = pd.Series([10,8,5,5,6],index=['德芙巧克力','旺旺小馒头','四六级收音机','洗发水','羽绒服'])
frame['运费价格']=price
frame['价格']=(frame['价格']+frame['运费价格'])
frame

         价格   收到商品的时间  你的评价  运费价格
德芙巧克力    91  20181114     5    10
旺旺小馒头    68  20181113     5     8
四六级收音机   95  20181120     5     5
洗发水      55  20181116     5     5
羽绒服     356  20181117     4     6

#### 按照价格从高到底排序

In [60]:
frame.sort_values(by='价格',ascending=False)

         价格   收到商品的时间  你的评价  运费价格
羽绒服     356  20181117     4     6
四六级收音机   95  20181120     5     5
德芙巧克力    91  20181114     5    10
旺旺小馒头    68  20181113     5     8
洗发水      55  20181116     5     5

#### 按照收到的时间从低到高排序

In [61]:
frame.sort_values(by='收到商品的时间')

         价格   收到商品的时间  你的评价  运费价格
旺旺小馒头    68  20181113     5     8
德芙巧克力    91  20181114     5    10
洗发水      55  20181116     5     5
羽绒服     356  20181117     4     6
四六级收音机   95  20181120     5     5

#### 得到各样物品评价的排名

In [62]:
a=frame['你的评价']
a.rank(method='min')

德芙巧克力     2.0
旺旺小馒头     2.0
四六级收音机    2.0
洗发水       2.0
羽绒服       1.0
Name: 你的评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [69]:
b=frame['价格']
b.describe()

count      5.000000
mean     133.000000
std      125.743787
min       55.000000
25%       68.000000
50%       91.000000
75%       95.000000
max      356.000000
Name: 价格, dtype: float64