## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 龚剑 
+ 学号 0163275

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame

shopping={  '价格':[200,50,2500,60,35],
            '数量':[2,1,1,2,5],
            '到货时间':[1120,1118,1115,1113,1112],
            '评价':[4,4,3,5,5]}
frame=pd.DataFrame(shopping)
frame.index=['牛仔裤','帽子','平板电脑','牛奶','面包']
frame

        价格  数量  到货时间  评价
牛仔裤    200   2  1120   4
帽子      50   1  1118   4
平板电脑  2500   1  1115   3
牛奶      60   2  1113   5
面包      35   5  1112   5

#### 用index的label读取某一个物品数据

In [2]:
frame.index
frame.loc['帽子']

价格        50
数量         1
到货时间    1118
评价         4
Name: 帽子, dtype: int64

#### 选择价格>200的物品

In [3]:
frame[frame['价格']>200]

        价格  数量  到货时间  评价
平板电脑  2500   1  1115   3

#### 挑选其中和学习有关的物品，构成一个子集

In [4]:
study={'价格':frame['价格'][2:-1],
       '评价':frame['评价'][2:-1]
            }
pd.DataFrame(study)

        价格  评价
平板电脑  2500   3
牛奶      60   5

#### 读取评价那列的数据

In [5]:
frame['评价']

牛仔裤     4
帽子      4
平板电脑    3
牛奶      5
面包      5
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [6]:
frame2=frame.reindex(['平板电脑','帽子','牛仔裤','牛奶','面包'])
frame2

        价格  数量  到货时间  评价
平板电脑  2500   1  1115   3
帽子      50   1  1118   4
牛仔裤    200   2  1120   4
牛奶      60   2  1113   5
面包      35   5  1112   5

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [11]:
express=pd.Series([5,8,10,5,6],index=['牛仔裤','帽子','平板电脑','牛奶','面包'])
frame['价格']=frame['价格']+express
frame

        价格  数量  到货时间  评价
牛仔裤    210   2  1120   4
帽子      66   1  1118   4
平板电脑  2520   1  1115   3
牛奶      70   2  1113   5
面包      47   5  1112   5

#### 按照价格从高到底排序

In [12]:
frame.sort_values(by='价格',ascending=False)

        价格  数量  到货时间  评价
平板电脑  2520   1  1115   3
牛仔裤    210   2  1120   4
牛奶      70   2  1113   5
帽子      66   1  1118   4
面包      47   5  1112   5

#### 按照收到的时间从低到高排序

In [13]:
frame.sort_values(by='到货时间')

        价格  数量  到货时间  评价
面包      47   5  1112   5
牛奶      70   2  1113   5
平板电脑  2520   1  1115   3
帽子      66   1  1118   4
牛仔裤    210   2  1120   4

#### 得到各样物品评价的排名

In [14]:
frame3=pd.DataFrame({'评价':[5,5,3,4,4]})
frame3.index=['牛仔裤','帽子','平板电脑','牛奶','面包']
frame3.rank(ascending=False)

       评价
牛仔裤   1.5
帽子    1.5
平板电脑  5.0
牛奶    3.5
面包    3.5

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [15]:
frame4=pd.DataFrame({'价格':frame['价格']})
frame4.index=['牛仔裤','帽子','平板电脑','牛奶','面包']
frame4
print(frame4.describe())
print('总计=%f'%frame4.sum())

                价格
count     5.000000
mean    582.600000
std    1084.994378
min      47.000000
25%      66.000000
50%      70.000000
75%     210.000000
max    2520.000000
总计=2913.000000