## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  马梓城
+ 学号  0165265

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd

In [19]:
data={ 'PRICE':[59.9,249,69,9.9,480,20],
      'NUMBER':[1,1,1,1,1,1],
      'TIME_DILIVERY':[1113,1114,1115,1118,1120,1115],
      'COMMENT':[5,4,5,5,4,5]}
STAFF=pd.DataFrame(data,index=['桂格燕麦','休闲夹克','立白洗衣液','手机壳','ADIDAS','炒股的智慧'])
STAFF

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
桂格燕麦          5       1   59.9           1113
休闲夹克          4       1  249.0           1114
立白洗衣液         5       1   69.0           1115
手机壳           5       1    9.9           1118
ADIDAS        4       1  480.0           1120
炒股的智慧         5       1   20.0           1115

#### 用index的label读取某一个物品数据

In [15]:
STAFF.loc['桂格燕麦']

COMMENT             5.0
NUMBER              1.0
PRICE              59.9
TIME_DILIVERY    1113.0
Name: 桂格燕麦, dtype: float64

#### 选择价格>200的物品

In [18]:
STAFF[STAFF['PRICE']> 200]

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
休闲夹克          4       1  249.0           1114
ADIDAS        4       1  480.0           1120

#### 挑选其中和学习有关的物品，构成一个子集

In [23]:
staff_study={
    'PRICE':STAFF['PRICE'][5:6],
    'NUMBER':STAFF['NUMBER'][5:6],
    'TIME_DILIVERY':STAFF['TIME_DILIVERY'][5:6],
    'COMMENT':STAFF['COMMENT'][5:6]
}
pd.DataFrame(staff_study)

       COMMENT  NUMBER  PRICE  TIME_DILIVERY
炒股的智慧        5       1   20.0           1115

#### 读取评价那列的数据

In [24]:
STAFF['COMMENT']

桂格燕麦      5
休闲夹克      4
立白洗衣液     5
手机壳       5
ADIDAS    4
炒股的智慧     5
Name: COMMENT, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [31]:
STAFF_RE = STAFF.reindex(['ADIDAS','休闲夹克','炒股的智慧','手机壳','立白洗衣液','桂格燕麦'])
STAFF_RE

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
ADIDAS        4       1  480.0           1120
休闲夹克          4       1  249.0           1114
炒股的智慧         5       1   20.0           1115
手机壳           5       1    9.9           1118
立白洗衣液         5       1   69.0           1115
桂格燕麦          5       1   59.9           1113

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [32]:
EXPRESS_FEE=pd.Series([0,0,0,0,0,8],index=['桂格燕麦','休闲夹克','立白洗衣液','手机壳','ADIDAS','炒股的智慧'])
STAFF['PRICE']+= EXPRESS_FEE
STAFF

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
桂格燕麦          5       1   59.9           1113
休闲夹克          4       1  249.0           1114
立白洗衣液         5       1   69.0           1115
手机壳           5       1    9.9           1118
ADIDAS        4       1  480.0           1120
炒股的智慧         5       1   28.0           1115

#### 按照价格从高到底排序

In [33]:
STAFF.sort_values(by='PRICE',ascending=False)

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
ADIDAS        4       1  480.0           1120
休闲夹克          4       1  249.0           1114
立白洗衣液         5       1   69.0           1115
桂格燕麦          5       1   59.9           1113
炒股的智慧         5       1   28.0           1115
手机壳           5       1    9.9           1118

#### 按照收到的时间从低到高排序

In [35]:
STAFF.sort_values(by='TIME_DILIVERY')

        COMMENT  NUMBER  PRICE  TIME_DILIVERY
桂格燕麦          5       1   59.9           1113
休闲夹克          4       1  249.0           1114
立白洗衣液         5       1   69.0           1115
炒股的智慧         5       1   28.0           1115
手机壳           5       1    9.9           1118
ADIDAS        4       1  480.0           1120

#### 得到各样物品评价的排名

In [36]:
STAFF2=STAFF.sort_values(by='COMMENT',ascending=False)
STAFF2['COMMENT_RANK']=[1,2,3,4,5,6]
STAFF2

        COMMENT  NUMBER  PRICE  TIME_DILIVERY  COMMENT_RANK
桂格燕麦          5       1   59.9           1113             1
立白洗衣液         5       1   69.0           1115             2
手机壳           5       1    9.9           1118             3
炒股的智慧         5       1   28.0           1115             4
休闲夹克          4       1  249.0           1114             5
ADIDAS        4       1  480.0           1120             6

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [39]:
float(sum(STAFF['PRICE']))

895.8

In [40]:
float(max(STAFF['PRICE']))

480.0

In [41]:
float(min(STAFF['PRICE']))

9.9

In [42]:
import numpy as np
np.mean(STAFF['PRICE'])

149.29999999999998