## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  占晓洋
+ 学号  0165222

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd
import numpy as np
datas = np.array([2,5,1112,5,175,1,1118,4,180,1,1112,4,22,2,1115,4,2660,1,1113,5])
products = pd.DataFrame(datas.reshape((5,4)),index=['books','pants','ball','pens','phone'],
                        columns=['price','quantify','date','evaluation'])
products

       price  quantify  date  evaluation
books      2         5  1112           5
pants    175         1  1118           4
ball     180         1  1112           4
pens      22         2  1115           4
phone   2660         1  1113           5

#### 用index的label读取某一个物品数据

In [4]:
products.loc['phone']

price         2660
quantify         1
date          1113
evaluation       5
Name: phone, dtype: int32

#### 选择价格>200的物品

In [5]:
products[products['price']>200]

       price  quantify  date  evaluation
phone   2660         1  1113           5

#### 挑选其中和学习有关的物品，构成一个子集

In [6]:
products_1 = products.loc[['books','pens']]
products_1

       price  quantify  date  evaluation
books      2         5  1112           5
pens      22         2  1115           4

#### 读取评价那列的数据

In [7]:
products['evaluation']

books    5
pants    4
ball     4
pens     4
phone    5
Name: evaluation, dtype: int32

#### 根据label对数据框重新排序，按照对你的迫切程度

In [8]:
products_2 = products.reindex(['phone','pens','ball','books','pants'])
products_2

       price  quantify  date  evaluation
phone   2660         1  1113           5
pens      22         2  1115           4
ball     180         1  1112           4
books      2         5  1112           5
pants    175         1  1118           4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [9]:
express_fee = pd.Series([10,10,10,9,0],index=['books','pants','ball','pens','phone'])

products['price'] = express_fee + products['price']
products

       price  quantify  date  evaluation
books     12         5  1112           5
pants    185         1  1118           4
ball     190         1  1112           4
pens      31         2  1115           4
phone   2660         1  1113           5

#### 按照价格从高到底排序

In [10]:
products.sort_values(by=['price'],ascending=False)

       price  quantify  date  evaluation
phone   2660         1  1113           5
ball     190         1  1112           4
pants    185         1  1118           4
pens      31         2  1115           4
books     12         5  1112           5

#### 按照收到的时间从低到高排序

In [11]:
products.sort_values(by=['date'],ascending=True)

       price  quantify  date  evaluation
books     12         5  1112           5
ball     190         1  1112           4
phone   2660         1  1113           5
pens      31         2  1115           4
pants    185         1  1118           4

#### 得到各样物品评价的排名

In [12]:
products['evaluation'].rank(method='first')

books    4.0
pants    1.0
ball     2.0
pens     3.0
phone    5.0
Name: evaluation, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [13]:
products['total']=products['price']*products['quantify']
products

       price  quantify  date  evaluation  total
books     12         5  1112           5     60
pants    185         1  1118           4    185
ball     190         1  1112           4    190
pens      31         2  1115           4     62
phone   2660         1  1113           5   2660

In [14]:
products['total'].sum()

3157

In [15]:
products['total'].max()

2660

In [16]:
products['total'].min()

60

In [17]:
products_mean = products['total'].sum()/products['quantify'].sum()
products_mean

315.69999999999999