## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  章建强
+ 学号  0163570

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [11]:
import pandas as pd
from pandas import Series, DataFrame
data ={'价格':[288,58.75,26,21,125],
       '数量':[2,1,2,2,2],
       '时间':[1113,1115,1115,1116,1117],
       '评价':[5,4,5,4,4] 
       }
frame=pd.DataFrame(data)
frame=pd.DataFrame(data, index=['大衣','R语言实战','鞋','咖啡','网球拍'])
frame

           价格  数量    时间  评价
大衣     288.00   2  1113   5
R语言实战   58.75   1  1115   4
鞋       26.00   2  1115   5
咖啡      21.00   2  1116   4
网球拍    125.00   2  1117   4

#### 用index的label读取某一个物品数据

In [12]:
frame.loc['网球拍']

价格     125.0
数量       2.0
时间    1117.0
评价       4.0
Name: 网球拍, dtype: float64

#### 选择价格>200的物品

In [13]:
frame[frame['价格'] > 200]

       价格  数量    时间  评价
大衣  288.0   2  1113   5

#### 挑选其中和学习有关的物品，构成一个子集

In [16]:
study = frame.loc[['R语言实战']]
study

          价格  数量    时间  评价
R语言实战  58.75   1  1115   4

#### 读取评价那列的数据

In [17]:
frame['评价']

大衣       5
R语言实战    4
鞋        5
咖啡       4
网球拍      4
Name: 评价, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [23]:
pd.DataFrame(frame,index=['R语言实战','大衣','鞋','网球拍','咖啡'])

           价格  数量    时间  评价
R语言实战   58.75   1  1115   4
大衣     288.00   2  1113   5
鞋       26.00   2  1115   5
网球拍    125.00   2  1117   4
咖啡      21.00   2  1116   4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [25]:
transport_fee = pd.Series([10,5,10,5,8],index=['大衣','R语言实战','鞋','咖啡','网球拍'])

frame['价格'] = transport_fee + frame['价格']
frame

           价格  数量    时间  评价
大衣     303.00   2  1113   5
R语言实战   69.75   1  1115   4
鞋       46.00   2  1115   5
咖啡      32.00   2  1116   4
网球拍    136.00   2  1117   4

#### 按照价格从高到底排序

In [26]:
frame.sort_values(by='价格',ascending=False)

           价格  数量    时间  评价
大衣     303.00   2  1113   5
网球拍    136.00   2  1117   4
R语言实战   69.75   1  1115   4
鞋       46.00   2  1115   5
咖啡      32.00   2  1116   4

#### 按照收到的时间从低到高排序

In [27]:
frame.sort_values(by='时间')

           价格  数量    时间  评价
大衣     303.00   2  1113   5
R语言实战   69.75   1  1115   4
鞋       46.00   2  1115   5
咖啡      32.00   2  1116   4
网球拍    136.00   2  1117   4

#### 得到各样物品评价的排名

In [29]:
frame['评价'].rank(method='first')

大衣       4.0
R语言实战    1.0
鞋        5.0
咖啡       2.0
网球拍      3.0
Name: 评价, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [34]:
frame['总花费']=frame['价格']*frame['数量']
frame

           价格  数量    时间  评价     总花费
大衣     303.00   2  1113   5  606.00
R语言实战   69.75   1  1115   4   69.75
鞋       46.00   2  1115   5   92.00
咖啡      32.00   2  1116   4   64.00
网球拍    136.00   2  1117   4  272.00

In [41]:
#花费总额
df=pd.DataFrame(frame)
df['总花费'].sum()

1103.75

In [42]:
#最大值
df['总花费'].max()

606.0

In [43]:
#最小值
df['总花费'].min()

64.0

In [44]:
#平均值
df['总花费'].mean()

220.75